[2018-02-05 03:51] cesalo opened #1 "generic question"
I just found this, thanks a lot. My question is the following (and sorry if the question is too simple or not for you but I'm just getting familiar with all of this):

I have a IPTV service and I'm getting the m3u file through a url using the API of my provider with my user/pass. I see in the m3u a url with a ts file for every channel. My question is do I have to generate this m3u with some freque

[2018-02-05 13:42] cesalo opened #2 "How to use -useregex and Examples"
I tried with:
./telly-linux-amd64 -file=xxx.m3u -useregex Latino
and
./telly-linux-amd64 -file=vader.m3u -useregex=Latino
and
./telly-linux-amd64 -file=vader.m3u -useregex=(Latino)

Can you please provide some examples? I'm trying to filter the group "Latino" and "United States" similar to the -uktv flag but for other groups of channels.

I have almost 1200 channels in the playlist and I'm having

[2018-02-05 16:03] cesalo opened #3 "More debug information for parameter -logrequests"
At the moment the only thing I can see is:
```[telly] [request] /lineup.json```
maybe channel requested .. IP .. etc would be beneficial in general and also if we need to troubleshoot issues.

[2018-02-07 21:41] tombowditch commented on #1
It'd mostly depend on your provider. In my case, nope, so it's probably the same for you!

T

[2018-02-07 21:43] tombowditch commented on #2
@cesalo  `-useregex` is currently just [https://github.com/tombowditch/telly/blob/master/main.go#L81-L82](a couple hardcoded values) which is bad and I should update this.

What do you think - `-useregex <your regex here>` or something like that? I'll get this done for tomorrow if you wish!

[2018-02-07 21:46] cesalo commented on #2
Yes .. that would be great. Thanks a lot.

[2018-02-07 21:47] cesalo commented on #1
Thanks.

[2018-02-07 21:47] tombowditch commented on #2
@cesalo what version are you running? linux amd64? I'll build a possible solution for you

[2018-02-07 21:50] cesalo commented on #2
Yes .. Linux amd64 .. thanks.

[2018-02-07 21:53] #1 closed

[2018-02-07 22:13] tombowditch commented on #2
@cesalo please try [this](https://github.com/tombowditch/telly/releases/tag/v0.2)

like this: `./telly -useregex <your regex>`

-------------------

Same experience here - Plex doesn't like too many channels.

[2018-02-08 02:39] cesalo commented on #2
Working like a charm:

`./telly-linux-amd64 -logrequests -useregex 'Latino|United States|Premium Movies|Sports|United Kingdom' -file playlist.m3u`

Thanks.

[2018-02-08 17:51] dbowles1975 opened #4 "Pull m3u from URL?"
Is it currently possible to pull an m3u from a URL? If not is this something that could be added? Thanks.

[2018-02-08 17:56] gignonje opened #5 "Can't setup DVR"
First of all, thank you for this promising software.

I tried to setup Telly but I can't manage to get past the DVR setup. It tries to get the channel list but then shows an error.

My Plex Media Server version is 1.11.1.4760.

![capture d ecran 2018-02-08 a 18 52 23](https://user-images.githubusercontent.com/1492645/35989387-5416050c-0d01-11e8-9a7f-6678f2ab6fa1.png)

This is what I get from the t

[2018-02-08 19:31] Nezreka opened #6 "Acquired a m3u file and used sed -i to change to proper format but still unable to run the file."
this file in particular.

https://raw.githubusercontent.com/fluxustv/IPTV/master/list.m3u

[2018-02-08 19:50] cesalo commented on #6
Did you run the sed from the readme section to add the comma after the -1?

[2018-02-08 19:53] Nezreka commented on #5
Do you mind sharing your m3u file? I'm unable to get it to read my own

[2018-02-08 20:09] Nezreka commented on #6
Yeah i sure did. I 'll send a copy of my file now.

On Thu, Feb 8, 2018 at 11:50 AM, cesalo <notifications@github.com> wrote:

[2018-02-08 22:07] tombowditch opened #7 "What would you like to see in telly?"
Hello all folks from reddit,

**What would you like to see in telly?**

T

[2018-02-08 22:08] tombowditch commented on #2
Great, thanks. I'll push a proper release shortly.

[2018-02-08 22:08] #2 closed

[2018-02-08 22:09] tombowditch commented on #4
Definitely something that will be added very shortly!

T

[2018-02-08 22:11] tombowditch commented on #5
@gignonje what version of telly are you running? This should be fixed in [v0.2](https://github.com/tombowditch/telly/releases/tag/v0.2) - if you're using that version, let me know and I'll take a look.

---------------------

@Nezreka what issue are you having? Please open a new one if it's not the same error ;-)

T

[2018-02-08 22:12] tombowditch commented on #6
From your file, here's an example line:

[code]

It _should_ be:

[code]

Notice the comma after `#EXTINF:-1`

T

[2018-02-08 22:14] skiman6010 commented on #6
Even after changing that by running `sed -i 's/#EXTINF:-1/#EXTINF:-1,/g' myiptv.m3u` it still doens't work.

[2018-02-08 22:14] tombowditch commented on #6
Enhancement: telly should automatically do this in the future

[2018-02-08 22:15] tombowditch commented on #6
@skiman6010 what error you getting? If unrelated please open a new issue 👍

[2018-02-08 22:15] skiman6010 commented on #6
[code]

[2018-02-08 22:17] tombowditch commented on #6
@skiman6010 can you post a couple lines of your m3u, censored?

[2018-02-08 22:21] skiman6010 commented on #6
[code]

[2018-02-08 22:23] dpohlman commented on #5
I am seeing something very similar, running v0.2 tried both in Windows and Linux and it looks like everything is running with the script shows 188 channels available litening on port 6077, but Plex never finds it when I try to add manually.  Ran nmap on both windows and linux and I don't show port 6077 as open.

[2018-02-08 22:23] brian21158 commented on #6
Hey, I'm having the same issue, here's my first few lines as well:

#EXTM3U
#ENTINF:-1, tvg-name="TFC" tvg-id="None" tvg-logo="" group-title="Filipino",TFC
http://*****

[2018-02-08 22:26] tombowditch commented on #6
@skiman6010 you able to send me your m3u (or parts of it) in private so I can debug locally?

---------

@brian21158 see above ^

------------

My email's on my Github page

T

[2018-02-08 22:46] tombowditch commented on #6
@Nezreka @skiman6010

There's two streams in your m3u file that have a length of 0, and the `sed` didn't catch:

[code]

Try performing another sed like this:

[code]

Let me know if that helps.

T

[2018-02-08 22:53] skiman6010 commented on #6
@tombowditch Whoops! Rookie mistake. I didn't even think about sed missing lines like that. I'm pretty new to m3u files. Thanks for your help. :)

[2018-02-08 22:54] tombowditch commented on #6
@skiman6010 no worries, you pointed out a thing I need to add to the README though, so thanks 👍

T

[2018-02-08 22:56] Nezreka commented on #6
@tombowditch That fixed it, thank you!

[2018-02-08 22:58] zerohalo opened #8 "Channel names not parsed correctly"
[code]

![feb-08-2018_05 52 53-capturfiles](https://user-images.githubusercontent.com/351115/36002755-4cbd7dce-0cf9-11e8-9700-bd406a0c4db7.png)

command line:
`./telly --file xxxxx.m3u --listen 10.0.0.52:6077 --useregex  .*United.States.*`

[2018-02-08 23:11] Capricom commented on #7
A docker image would be pretty awesome. I'm new to docker but from what I've seen it should be relatively easy to do.

[2018-02-08 23:13] Nezreka commented on #6
@tombowditch I have a new issue now. Everything loads properly onto plex with the guide but no matter what I choose it loads for 20 seconds and gives a tuner error. Any suggestions?

[2018-02-08 23:16] gignonje commented on #5
@tombowditch I was in v0.1 and v0.2 fixed it, thanks !

@Nezreka I had an issue about `Invalid m3u file format. Expected #EXTM3U file header`, if this the issue you have, I just had to convert from UTF-8 encoding to ISO-8859-1 to get it to work. I don't know why.

[2018-02-08 23:36] #5 closed

[2018-02-09 01:15] After-Shock commented on #7
+1 for Docker image as well.

[2018-02-09 02:37] Davrizio opened #9 "Mac OS support?"
Hey! This is great! How would I go about this on Mac OS? Or is it not possible currently?

[2018-02-09 03:57] romeoz1323 opened #10 "1 Channel showing"
I have 9 channles in my m3u file but only 1 is showing up. here is my output. everything seems to be running fine though.

#EXTM3U
#EXTINF:-1, tvg-ID="HGTV.ca" tvg-name="HGTV CA HD" tvg-logo="http://xxxx.tv/logos/hgtv%20ca%20hd.png" group-title="Canada",HGTV CA HD
http://xxxx.tv:80/live/xxxx/xxxx/2860.ts
#EXTINF:-1, tvg-ID="" tvg-name="Showcase HD" tvg-logo="" group-title="Canada",Showcase HD
http

[2018-02-09 05:36] ninthwalker commented on #7
This would be super simple as a docker since he's already made it an executable. Just spin up a quick ubuntu baseimage or your linux of choice and map a volume/port and good to go.

[2018-02-09 07:34] tombowditch commented on #9
Hey,

macOS support is available! The one you'll be needing is Darwin amd64: https://github.com/tombowditch/telly/releases/tag/v0.2

T

[2018-02-09 07:34] tombowditch commented on #10
Can you paste the initial output from telly?

T

[2018-02-09 11:37] wdaly commented on #7
Can you run more than one .m3u? if not that would be cool.

[2018-02-09 12:48] HazCod commented on #7
For Docker support, see my PR https://github.com/tombowditch/telly/pull/11

[2018-02-09 13:41] Davrizio commented on #9
Thanks man! That’s what I thought! Okay so how do I go about running? The system recognizes the downloaded file as a text file and when I try to run it via terminal I get “permission denied”.
Sorry for the noob questions. :-)

[2018-02-09 15:56] tombowditch commented on #7
@Capricom @After-Shock @ninthwalker can you check out @HazCod PR #11 and let me know what you think? I've little experience with Docker so your input would be appreciated!

T

[2018-02-09 20:14] HazCod commented on #9
Try a ‘chmod +x <telly-filename-here>’ before running to make it executable.

[2018-02-10 03:12] Davrizio commented on #9
Ahh yes! Thanks so much!

[2018-02-10 03:12] #9 closed

[2018-02-11 02:41] DJCallyman commented on #7
Mac OS release?

[2018-02-11 10:14] tombowditch commented on #7
@DJCallyman macOS release exists. Check https://github.com/tombowditch/telly/issues/9

[2018-02-11 10:15] tombowditch commented on #6
@Nezreka can you enable Plex Media Server debug log and check the log file when you start a stream?

[2018-02-11 13:50] emreuenal opened #12 "DVR Device name is tvhProxy, not telly"
Thank your for this great project.

I have some trouble to get it work.

If i try to add telly to the plex, i am getting this:

![telly](https://user-images.githubusercontent.com/6360198/36073998-dd140dba-0f39-11e8-85c1-2368611adfc4.png)

If i am done with the configuration, cant open any channel (unable to tune channel, timed out).

On the DVR settings from plex:

![image](https://user-images.git

[2018-02-11 16:45] Dec64 opened #13 "Plex in docker can not see telly"
I'm running plex in docker via cloudbox (https://github.com/Cloudbox/Cloudbox).

Running telly locally not in docker works to the point it says go to localhost:6077 but plex says There was a problem adding the device: localhost:6077.

I then put telly into a docker container and have it on the same network as plex docker, same problem works, finds m3u file and says There was a problem adding the d

[2018-02-11 16:48] tombowditch commented on #12
Did you try using tvhProxy before telly? Plex has this weird issue where it grabs the old name.

[2018-02-11 16:49] tombowditch commented on #12
Can you paste the output of telly here please?

[2018-02-11 16:52] Dec64 commented on #13
that's what i thought, but i've tried the IP of the server aswell as the IP's listed by the network on portainer.

172.17.0.15 and 172.17.0.14 still nothing

[2018-02-11 17:26] jonbigtelly opened #14 "Help with -file"
Have downloaded the telly file onto my Mac and using this command to try and run Telly
pointed at my m3u file but it says 'no such file or directory'
Am not great with Command Line any ideas please ? here is the command I am using
chmod +x ./telly -file=/Users/user/Desktop/myiptv.m3u

I have used CD to the file where telly is sitting and it now only gives me that error. Any help would be appreciat

[2018-02-11 17:28] tombowditch commented on #14
You're trying to combine two commands into one! ;-)

Use this: `chmod +x telly` to make it executable

Then you can run telly: `./telly -file /Users/user/Desktop/myiptv.m3u`

T

[2018-02-11 17:45] jonbigtelly commented on #14
Worked straight away thx vm mate

[2018-02-11 21:08] emreuenal commented on #12
Yes, that was long time ago

[code]

with logrequests:

[code]

Thank you...

[2018-02-12 07:49] HazCod commented on #13
As discussed in my pull request;  Plex should be started with a --link telly and it should reach http://telly:6077 just fine.

[2018-02-12 08:27] HazCod commented on #4
See https://github.com/tombowditch/telly/pull/15

[2018-02-12 10:58] emreuenal commented on #12
Restarted PMS a couple of times and the issue is gone.

[2018-02-12 11:18] #13 closed

[2018-02-12 14:04] #14 closed

[2018-02-12 14:05] tombowditch commented on #12
Figured, Plex gets a bit weird.

Shall I close this now?

[2018-02-12 14:32] emreuenal commented on #12
Yes we can close the issue.

For all with the same problem, stop and start PMS again while telly running in background.

[2018-02-12 14:32] #12 closed

[2018-02-12 19:13] ApolloFortyNine opened #16 "Adding a License"
Please add a license to your project, that way contributors no what they're getting into and what this code can be used for.

If you don't have any preferences, I'd recommend MIT or BSD for giving users permission to do most everything.

[2018-02-12 22:53] tombowditch commented on #16
D'oh, yeah, I should. Thanks for reminding me!

[2018-02-12 23:00] tombowditch commented on #16
Added the MIT license, my favourite. Thanks!

[2018-02-12 23:00] #16 closed

[2018-02-12 23:34] HazCod commented on #3
Perhaps this small modification is enough? https://github.com/HazCod/telly/commit/84855a51998b9baa50aab72da3f25b2391ed19d8

[code]

[2018-02-13 00:04] taylor-verys opened #17 "Changes to m3u not picked up by Telly"
Once you get Telly setup and running, it does not ever look to re-parse your input `.m3u` file. This could be done either by listening for changes on the file itself, or just allowing the user to set Telly to re-parse the m3u file on a set interval.

In my situation something like this is useful when my provider decides to add channels for live events, or if the URL of a channel changes.

Apprecia

[2018-02-13 00:58] cesalo commented on #3
Does that show the channel requested?

[2018-02-13 23:25] taylor-verys opened #18 "Running sed on OSX produces an error"
Running `sed` as instructed in the readme...
`sed -i 's/#EXTINF:-1/#EXTINF:-1,/g' myiptv.m3u`
...on OSX will result in the following error
`sed: 1: "myiptv.m3u": invalid command code o`

OSX requires an additional parameter to run correctly

https://ed.gs/2016/01/26/os-x-sed-invalid-command-code/

The following works like a charm
`sed -i "" 's/#EXTINF:-1/#EXTINF:-1,/g' myiptv.m3u`

👍

[2018-02-14 19:06] tombowditch commented on #17
Seems like a good thing to add! Quick bit of research for someone though, I don't believe Plex picks up lineup changes because you need to manually add the channels - can someone confirm that? (If so we need a warning somewhere)

[2018-02-16 16:04] tombowditch commented on #10
@romeoz1323 see above please ;-)

[2018-02-16 20:11] foXaCe opened #19 "nas install"
Hello, please how to execute on synology nas docker please

[2018-02-16 21:24] HazCod commented on #4
@tombowditch you may close this now.

[2018-02-16 21:25] tombowditch opened #21 "Discord Server"
Would anyone be interested in a Discord server for telly? I've [opened one](https://discord.gg/bnNC8qX) but no idea on interest.

T

[2018-02-16 21:34] HazCod commented on #19
Hi, the maintainer is working to make the image `tombowditch/telly` available on Docker Hub, so you can just pull it in.

[2018-02-17 19:27] porkie02 opened #22 "Vaderstreams m3u"
Has anyone had any luck getting this to work with the vaderstreams m3u? I Have saved the link from them to a m3u file and changed the format. But another thing I noticed by teseting one stream is that telly would only see it if I removed the line tvg-id="BTSport3.uk" for example, this is to much work to remove all of those from a list of about 2000 streams.

#EXTINF:-1, tvg-name="BBC One HD" tvg-i

[2018-02-18 19:03] sfunk1x opened #23 "Plex will lose connection to telly, but no error reported"
I'm not exactly sure where the break is occurring, but when updating large EPGs (~2500 channels) plex will lose connection to telly and stop the update process. I've never actually gotten it to successfully update the EPG once telly is added. I have another tuner on the network (hdhomerun connect) and plex isn't losing connection to that.

I'm running telly on the same instance as plex, listening

[2018-02-18 19:06] tombowditch commented on #23
Do you have 2500 channels on your HDHomerun Connect? :-)

I've found Plex just hates alot of EPG data and it crashes on me too - thats why we have -useregex, -uktv, etc.

T

[2018-02-18 19:08] sfunk1x opened #24 "Unclear on how to use -filterregex"
I have tried using -filterregex in various forms but it seems no matter what I'm doing, it's not filtering out channels:

This doesn't seem to work:

./telly-linux-amd64 -file tv_channels_.com_plus.m3u -filterregex Arabic -filterregex French -filterregex Latino -filterregex Germany -filterregex NHL -filterregex MLB -filterregex CBN -filterregex Indian -filterregex African -filterregex Polish -filt

[2018-02-18 19:09] sfunk1x commented on #23
Nope, maybe 30 or 40. Plex could absolutely be the culprit here, especially since telly doesn't seem to be crashing (at least nothing is showing up in the screen session I currently have it running in).

[2018-02-18 19:16] tombowditch commented on #23
Yep, telly won't be at fault here. All telly gives Plex is the "lineup" which is generates before it even starts listening on the port so it's already all ready. Try filtering it down using the regex and let me know the results.

[2018-02-18 19:19] tombowditch commented on #24
What you're looking to do is use Regex, so none of them will work. You're mostly looking for the pipe operator - I recommend using something like regex101 to check.

Using @cesalo 's as an example - you should be able to decipher what you're looking for from this:

`-filterregex' Latino|United States|Premium Movies|Sports|United Kingdom'`

[2018-02-18 19:32] tombowditch commented on #23
documentation update: telly should warn users over X amount of channels

[2018-02-19 03:11] cesalo commented on #22
I have a similar playlist and it works. In my case every channel has 2 lines:
#EXTINF:-1, tvg-name="BBC One HD" tvg-id="BBC1.uk" tvg-logo="http://vaders.tv/logos/bbc%20one%20hd.png" group-title="United Kingdom",BBC One HD
http://vaders.tv/live/xxxxx/xxxxx/2464.ts
Difficult to say if in you case is just 1 line or 2 lines (looks like 1 line not sure if that's what is causing the issue). In my case t

[2018-02-19 10:18] trentmsteel opened #25 "Set max number of streams"
Is there a way to set the number of streams/tuners allowed?  At the moment Plex seems to detect Telly only capable of a single stream. But my provider supports up to 6 streams at once. Thanks

[2018-02-19 10:27] trentmsteel commented on #25
Thanks. Also, where can I find documentation detailing this and other options for Telly, looked around and can not find it, and wiki is currently empty.

[2018-02-19 10:31] tombowditch commented on #25
That's something we're currently working on - for now you may be able to decipher them from this: https://github.com/tombowditch/telly/blob/master/main.go#L55-L64

[2018-02-19 10:33] trentmsteel commented on #25
Will do. Thanks again.

[2018-02-20 03:35] cesalo commented on #3
I just had some issues with my iptv provider and having this would've helped me a lot to determine what I missed. At the moment is similar to what I posted first:
[telly] [request] /lineup.json
[telly] [request] /lineup.json
[telly] [request] /lineup.json
[telly] [request] /lineup.json
[telly] [request] /lineup.json

I'd add channel requested, IP address, timestamp (very important) plus anything e

[2018-02-20 03:36] cesalo commented on #21
Yes .. why not?. I think more and more people are using your app. Thanks for putting the time.

[2018-02-20 04:37] After-Shock opened #26 "Unable to add Telly with exiting HDHomeRun"
I have an existing HDHomeRun Prime that's hooked through Plex on Ubuntu 16.04 LTS.  With ZERO DVR's configured I input localhost:6077 and then hit continue it shows the telly tuner but then auto switches to the HDHomerun.

With the HDHomerun configured first, I'm allowed to add Telly tuner and configure channels, match epg and finish.  Says complete and it will be downloading the program guide.  H

[2018-02-20 07:37] tombowditch commented on #26
This is very interesting and something I didn't think of, also annoying to debug because I don't have a HDHomerun myself ;-)

That telly device not found error when it's all setup is normal - it has something to do with Plex pinging the device and going "oh crap we've been had" or something like that (which I am looking into and hopefully fixing soon...).

As for trying to add when Plex finds a hd

[2018-02-20 07:50] HazCod commented on #4
@tombowditch close this

[2018-02-20 07:50] HazCod commented on #18
@tombowditch close this

[2018-02-20 07:51] tombowditch commented on #4
@HazCod thanks

[2018-02-20 07:51] #4 closed

[2018-02-20 07:51] tombowditch commented on #18
@HazCod thanks

[2018-02-20 07:51] #18 closed

[2018-02-20 08:00] HazCod commented on #3
See pull request https://github.com/tombowditch/telly/pull/27

@cesalo do note that Plex will fetch the channel itself, telly only supplies the download URLs to Plex.

[2018-02-20 08:08] HazCod commented on #3
Let's close this one @tombowditch

[2018-02-20 08:09] HazCod commented on #25
@tombowditch aaaaand close this one aswel

[2018-02-20 08:18] HazCod commented on #26
@After-Shock can you try building from https://github.com/HazCod/telly/tree/fix-friendlyname and report back?

I changed the FriendlyName of it to the official HDHomeRun name, just to rule that out.

[2018-02-20 08:23] tombowditch commented on #26
If you can't build I can chuck you a binary tonight - let me know what you're running on (I assume Linux amd64?)

T

[2018-02-20 08:23] #25 closed

[2018-02-20 08:24] #3 closed

[2018-02-20 09:56] HazCod opened #30 "Add support for HLS streams in m3u"
Since Plex uses HLS for the client and server to talk to each other, MPEGTS is not favourable.
Source: https://forums.plex.tv/discussion/comment/363701/#Comment_363701

We should support HLS m3u playlist files as wel as MPEGTS m3u playlists.

[2018-02-20 12:42] EnorMOZ commented on #22
No issues here, however as @cesalo mentioned it is 2 lines

[2018-02-20 12:52] EnorMOZ opened #31 "REQ: Ability to have more than 1 "virtual" tuner"
You can only watch one channel at a time. If you try to view additional channels on different devices you will get a `All Tuners are Currently in Use` error in Plex.

[2018-02-20 12:53] tombowditch commented on #31
Check #25 :)

[2018-02-20 13:19] EnorMOZ commented on #31
Thanks !!

[2018-02-20 13:19] #31 closed

[2018-02-20 15:12] TannerBKelly commented on #7
the iptv m3u that I pull from also has a epg that come with it. Can I load that in here some how?

[2018-02-20 15:18] After-Shock commented on #26
Linux amd64, correct.  I'd appreciate the binary when possible.  I can kick the tires tonight on it at work and report back.

[2018-02-20 15:19] tombowditch commented on #26
Sure thing - I'm home in 3 hours so I'll chuck you one then

[2018-02-20 15:30] Dec64 commented on #7
@TannerBKelly You can use it via plex not via telly.

@tombowditch Some way to poll the stream url's within the m3u to check if they are up or not, and replace them on the fly in the m3u with backup links.

[2018-02-20 15:33] tombowditch commented on #7
@Dec64 seems interesting, can you open a new issue about this? We'll discuss it there.

[2018-02-20 19:24] Migz93 opened #33 "Flawless M3U - unable to parse length"
I read somewhere that the creator of this uses flawless hosting IPTV so i thought i'd sign up for a 48 hour trial so i could try telly out.

When i download the m3u file from flawless, save it in the same folder as telly and run

 I get the following:

I've tried a free iptv playlist from the internet just to see if telly runs, picks up channels and if i can add the tuner into plex, which all work

[2018-02-20 20:13] tombowditch commented on #33
Hey! Are you running the sed command before you're running telly?

T

[2018-02-20 20:39] Migz93 commented on #33
Hi Tom, thanks for getting back to me so quickly.

Doh! Indeed i wasn't. I'd used the sed command last night on the free IPTV playlist as i saw it was missing commas but today assumed as this utility was built around flawless that the flawless file would be ready to go. Just checked and saw no commas as explained, ran the sed command now its working fine.

So would that be why using the URL doesn'

[2018-02-20 20:48] Migz93 commented on #33
Succesfully added telly with all my channels to plex, it's now going through and downloading the epg information. Tried to start streaming a couple channels and they all give me a "unable to tune channel" error message.
Is there something else i've forgot to set? I've read through all the instructions and can't see anything else that needs to be set.

[2018-02-20 21:16] lcasey001 commented on #33
Make sure it is actually working... look at the m3u file, grab the url of the channel in question and try it on VLC or something similar.

[2018-02-20 21:17] EnorMOZ commented on #33
Make sure the channel is actually working... Look at the m3u file, grab the URL/Channel in question and try to play it on VLC or something similar.

[2018-02-20 21:18] tombowditch commented on #33
Double check what @EnorMOZ suggested 👍

[2018-02-20 21:24] Migz93 commented on #33
Apologies, i should've mentioned i already tried this.
Clicked Plex Program Guide > Clicked Criminal Minds - Find that it's on "SKY TWO SD"
Open up my .m3u, search for " SKY TWO SD", paste TS url into VLC and it's playing fine.

I've done this with a couple different channels, literally none of my channels work in plex. Maybe my hardware isn't good enough? Running it on a shared seedbox with a poo

[2018-02-20 21:26] tombowditch commented on #33
Can you curl or wget the URLs? The host or flawless may be blocking your host

[2018-02-20 21:32] Migz93 commented on #33
A wget of the url while on my seedbox downloads my .m3u file fine.

Trying to get telly setup on my local microserver to see if the issue is related to my seedbox but getting a "There was a problem adding the device" error trying to add the device. Not sure if its due to my plex being in docker. Try to solve one problem and just create more, fml.

[2018-02-20 21:33] tombowditch commented on #33
Not the m3u, one of the .ts in the m3u please ^^

[2018-02-20 21:35] Migz93 commented on #33
Oops!

did one of the .ts, and it's giving me the below

Strange though as i'm not authenticating anything when i use it in VLC. Is this possibly the blocking you were on about?

[2018-02-20 21:41] Migz93 commented on #33
I've managed to get it running on my microserver, found that i needed to use -listen 0.0.0.0:6077 to specify to listen to more then localhost.
Getting the same issue though, again ensured that the .ts file is working.

Maybe its worth me trying another 48h trial from a different providor? Or maybe its the 48h trial itself thats causing the issue, possibly limited in some way?

[2018-02-20 22:46] Migz93 commented on #33
Grabbed a 48h trial from fabiptv and this worked straight away with the first stream i tried. So looks to either be a problem with flawless or with the 48h trial that flawless provides.

Closing issue, thanks all for the help! :)

[2018-02-20 22:46] #33 closed

[2018-02-21 00:02] After-Shock commented on #26
Ready to test that binary when you have the time.

[2018-02-21 02:47] After-Shock commented on #26
Update, was able to add the telly' tuner with the HDHomerun Disabled, I added a few test channels and matched the EPG for my area.  However I am unable to go back and add other channels due to the "Device not found" message mentioned in my original post.  Obv this isn't by design, just wanted to make sure it's something that is being addressed.

[2018-02-21 03:32] cesalo commented on #26
I've had a similar issue (not just with telly but with others proxies). In my case (and I don't know if it will work for you) doing a quick restart of Plex fixes the issue, once Plex is restarted it finds telly again. Give it a try .. it may work for you. Sorry to not provide a root cause but testing so many things I found this workaround and so far has consistently fixed this particular issue.

[2018-02-21 03:36] cesalo commented on #17
@tombowditch correct .. also it may screwed the EPG if some of the channels are shifted due to new channels being added.

[2018-02-21 03:44] cesalo commented on #7
headless option to run it like a daemon? I mean it can be done with a simple nohup using your binary .. but i think it would be nice to have it anyway.

[2018-02-21 11:37] tombowditch commented on #26
Morning - my apologies @After-Shock got distracted last night. One binary coming right up...

[2018-02-21 11:40] tombowditch commented on #26
[code]

https://transfer.sh/YMzVW/telly - let me know if this helps at all!

[2018-02-21 12:09] 12nick12 commented on #22
For mine to work I went into the document and replace every instance of "#EXTINF:-1 " with "#EXTINF:-1, " and that made it work for me.

[2018-02-21 12:10] 12nick12 opened #34 "Streams don't work on Roku or Android Phone"
The streams work great to watch on the web client, but for some reason they won't work on the Android or Roku client.

[2018-02-21 12:11] tombowditch commented on #34
Is there any error provided?

[2018-02-21 12:12] tombowditch commented on #22
Correct @12nick12 - the sed command in the README does this.

@porkie02 i'll be looking into this later today

[2018-02-21 12:13] #21 closed

[2018-02-21 12:20] 12nick12 commented on #34
Some channel just seem to fail so it starts recording if I tail -f the logs.

[2018-02-21 12:21] 12nick12 commented on #22
Oh OK. I haven't read the readme so I didn't realize it's right there lol.

[2018-02-21 12:21] tombowditch commented on #34
If only some channels are failing it's nothing to do with telly - any logs or errors would be helpful.

[2018-02-21 12:51] tombowditch commented on #22
I believe this can be closed. Looked at it with @porkie02 and the m3u was on one big line. Apparently the provider has a new m3u and this forks flawlessly (`[telly] [info] found 9655 channels`)

@porkie02 please confirm ;-)

T

[2018-02-21 13:00] tombowditch opened #35 "Enable telly to parse m3u without using the sed command"
Should be fairly easy to do. The m3u parser we're using is MIT license so we can fork off of that.  I'll work on a proposal later.

[2018-02-21 13:28] porkie02 commented on #22
yeah its working now with the new format they give from their standard m3u.

https://i.imgur.com/Kc1Inp2.png

Thanks Tom can close this now I guess

[2018-02-21 13:28] #22 closed

[2018-02-21 13:45] wibuf opened #36 "When Live TV is shared with friends and mulitple channels are watched Plex states All Tuners are Currently in use"
I tried running telly twice on different ports but can't seem to run multiple tuners. Any workaround for this? Anybody able to watch multiple channels at the same time?
![image](https://user-images.githubusercontent.com/845898/36483235-91cfb258-16e3-11e8-8c5d-26dcddf690a8.png)

[2018-02-21 13:55] 12nick12 commented on #34
The channels that fail on android phone work fine on the web player.

[2018-02-21 14:13] porkie02 commented on #36
I'm not sure but when Plex first launched Plex dvr me and a few friends tested with HDhomruns and we could never share Tv. It may have changed since then because I haven't tested it since. We all had HDhomeruns connected.

[2018-02-21 14:14] tombowditch commented on #36
Instead of running telly twice have you tried using the `-streams` option? i,e, `-streams 2`

[2018-02-21 14:18] wibuf commented on #36
Porkie, on the current version of plex, if you log into your server directly to IP. Open a friend and click restrictions, you will see the check box to Allow access to Live TV, this is pretty new.
![image](https://user-images.githubusercontent.com/845898/36484728-355361aa-16e8-11e8-9ffb-d20bdbc07bf1.png)

Thanks Tom I will look into that setting I didnt see any reference to it in the readme but I

[2018-02-21 14:47] wibuf commented on #36
This resolved, should add this to the readme, thanks!

[2018-02-21 14:47] #36 closed

[2018-02-21 17:14] tombowditch opened #37 "I need m3us!"
telly will be moving to [its own m3u parser](https://github.com/tombowditch/telly-m3u-parser) shortly and I think it'd be nice to add different providers m3u's to the test scripts

Now, I need m3us. I need, ideally, 10 channels of your m3u **unmodified** (except for censoring URLs & credentials) - that means no `sed` command, etc.

A format like this would be great:

-------------------------

Pro

[2018-02-21 17:27] cesalo commented on #37
Here it's:
#EXTM3U
#EXTINF:-1 tvg-name="Raj News" tvg-id="RaiNews.it" tvg-logo="http://tvimages.burrp.com/images/channels2/news/Raj-News-24x7.png" group-title="Tamil",Raj News
http://xxxxx.tv/live/xxxxxx/xxxxx/39402.ts
#EXTINF:-1 tvg-name="TV6 HD SE" tvg-id="None" tvg-logo="http://www.luizaflade.com/wp-content/uploads/2011/11/TV6_logo_1.jpg" group-title="Scandinavian",TV6 HD SE
http://xxxxx.tv/liv

[2018-02-21 17:32] tombowditch commented on #35
Progress begins: https://github.com/tombowditch/telly-m3u-parser

[2018-02-21 17:38] tombowditch commented on #35
Great news for all...

[code]

Expect an update soon.

T

[2018-02-21 17:40] dpohlman commented on #37
Provider: Ace-TV
m3u:
#EXTINF:-1 tvg-id="I17609.labs.zap2it.com" tvg-name="USA/CA: SPACE HD" tvg-logo="http://www.tv-logo.com/pt-data/uploads/images/logo/space_ca.jpg" group-title="USA/CA: ENTERTAINMENT",USA/CA: SPACE HD
http://ace-tv.xyz:8080/live/xxxxxx@xxxx.com/xxxxxxxxx/1379.ts
#EXTINF:-1 tvg-id="I11163.labs.zap2it.com" tvg-name="USA/CA: SPIKE" tvg-logo="https://media.glassdoor.com/sqll/38637/

[2018-02-21 17:56] tombowditch commented on #35
Need a couple testers if anyone's available

[2018-02-21 18:33] TomGlass opened #38 "Docker"
Hello,

I'm unable to use software outside of Docker containers or not in .exe format due to technical reasons mostly linking to my lack of brain cells can you provide a .exe or docker container for me to run?

Kind Regards,
Tom Glass

[2018-02-21 18:34] #38 closed

[2018-02-21 18:44] tombowditch opened #40 "Dockerfile no longer works"
Seems they removed go-wrapper cc @HazCod

https://github.com/docker-library/golang/commit/fe39454becd30a04a8f398fc83bd19a8117eadab
https://github.com/docker-library/golang/commit/9bf6daddb324a4d8e82b0613cf348a6eff363f95

[2018-02-21 18:54] #40 closed

[2018-02-21 19:20] tombowditch commented on #40
Fixed by #41

[2018-02-21 20:52] moenster commented on #26
I'm facing the samme issue. Plex initially sees the "telly HDHR" but then it disappears after 10-15 seconds or so. I also have a physical HDHR, but it's the same with that one powered off.

**From my Plex logs:**
![image](https://user-images.githubusercontent.com/18351395/36504527-16e0c67c-1751-11e8-89e5-b6f34174d92d.png)

**From telly command line:**
@plex:/opt/telly# ./telly-linux-amd64 -playlis

[2018-02-21 20:59] tombowditch commented on #26
@moenster OK, thats progress. I've never seen the 2250 log line... huh...

I'll look into it shortly.

[2018-02-21 21:05] moenster commented on #26
From what I can see, then telly doesn't die, but Plex seems to see it that way. I can still get the XML output from telly.
<root xmlns="urn:schemas-upnp-org:device-1-0">
<specVersion>
<major>1</major>
<minor>0</minor>
</specVersion>
<URLBase>http://192.168.2.3:5004</URLBase>
<device>
<deviceType>urn:schemas-upnp-org:device:MediaServer:1</deviceType>
<friendlyName>telly</friendlyName>
<manufacturer

[2018-02-21 22:10] tombowditch commented on #34
Got any more information to help me out?

[2018-02-21 22:13] tombowditch commented on #10
Closing this as no reply, please reopen if you're replying.

[2018-02-21 22:13] #10 closed

[2018-02-21 22:14] tombowditch commented on #6
telly no longer requires this sed command.

----------------

@Nezreka closing this for now as no reply, reopen if you're replying ;)

[2018-02-21 22:14] #6 closed

[2018-02-21 22:15] tombowditch commented on #19
Hi, now available in Docker hub. Please see https://hub.docker.com/r/tombowditch/telly/ !

[2018-02-21 22:18] 12nick12 commented on #34
I will get you some logs tomorrow. Usually what happens is it's like it can't autoplay for in the logs it shows recording. Sorry for the delay it's been a busy day at work.

[2018-02-21 22:18] tombowditch commented on #34
Great thanks - no worries at all ;-)

[2018-02-21 22:20] tombowditch commented on #23
fixed in 66a4608804c7ec27b5b850e75ff877bee2174cf3

[2018-02-21 22:20] #23 closed

[2018-02-21 22:22] tombowditch commented on #35
fixed in v0.4.1

[2018-02-21 22:22] #35 closed

[2018-02-22 08:54] foXaCe commented on #19
@tombowditch thank for your job but do not work on my nas

[2018-02-22 09:01] tombowditch commented on #19
Have any error messages? Logs? Anything to help?

[2018-02-22 13:05] moenster commented on #26
Ok, I updated to v. 0.4.1 and restarted PMS. The DVR appeared as connected for a short while and then returned to the "not found" state.
/var/folders/ns/g6q6fq3s4f55hxm1w4nm83nh0000gp/T/com.apple.iChat/Messages/Transfers/Billede beskeder(900647365).png

The strange thing is that I can actually watch the IPTV stream even though the device appears as not found.

/var/folders/ns/g6q6fq3s4f55hxm1w4nm8

[2018-02-22 13:06] porkie02 commented on #26
My plex dvr says its not connected sometimes but works fine regardless.

[2018-02-22 13:06] tombowditch commented on #26
Yeah, I think I have a problem where telly isn't telling Plex "I'm alive" properly, need to do some more debugging and probably some HTTP inspection on that front, I assume it's trying to load a URL I've missed out.

[2018-02-22 13:06] tombowditch commented on #26
Same as @porkie02 ^^

[2018-02-22 13:07] tombowditch commented on #26
But this seems to be especially a problem when you have an existing HDHomerun as Plex, when adding it, will just fall back to that iirc.

[2018-02-22 13:08] porkie02 commented on #26
I should dig out my homerun and have a look.

[2018-02-22 13:20] porkie02 opened #42 "xmltv epgs"
If you would like to use a epg other than the default Plex one you can visit. http://wiki.xmltv.org/index.php/Main_Page

Search for your country of choice and it will guide you to where you can get the relevant epg, I used the UK version and Plex mapped most of the channels correctly with only a few to map. Hopefully this helps with the tedious process of mapping.

[2018-02-22 13:43] #8 closed

[2018-02-22 16:45] tombowditch commented on #7
Just thought I'd let you know @Capricom @After-Shock @ninthwalker telly is now available @ https://hub.docker.com/r/tombowditch/telly/ 👍

[2018-02-23 14:21] porkie02 commented on #37
TnT m3u a new kid on the block iptv.

#EXTM3U
#EXTINF:-1,EVENT 1: GOLD RUSH 2/23 9PM EST
http://thesenutz.xyz:2052/live/xxxx/xxxx/12160.ts
#EXTINF:-1,EVENT 2: LIVE PD 2/23 9PM EST
http://thesenutz.xyz:2052/live/xxxx/xxxx/12159.ts
#EXTINF:-1,EVENT 3: MARRIED TO MEDICINE S05E17 2/23 9PM EST
http://thesenutz.xyz:2052/live/xxxx/xxxx/12158.ts
#EXTINF:-1,EVENT 4: THE RAP GAME S04E13 2/23 10:02PM EST
htt

[2018-02-23 22:31] taylor-verys commented on #42
@porkie02 can you elaborate a little bit on this process? How does the XMLTVProject map to Tell's channel numbers?

[2018-02-24 09:27] shaneosullivanky commented on #7
Great work, just got it working on windows. Is there a version for the nVidia Shieled planned?

[2018-02-24 09:28] tombowditch commented on #7
@shaneosullivanky can you give more information on the nvidia shield? What does it run? I assume Android? What would telly have to be? An Android app?

T

[2018-02-24 09:36] shaneosullivanky commented on #7
Ya it could be tricky.

Runs Android TV so I’d say it might have to be an app. Currently a lot of us running IPTV on an enigma2 Box (satellite tuner) in uk and ireland. That has a plug-in called HrTunerProxy which makes it show up as a tuner in Plex. There’s a guy on the Plex forums AndyBlac who made it and he seems to know a lot about it. Not sure if it’s worth asking him? I’ll mention telly on t

[2018-02-24 09:36] tombowditch commented on #7
Yeah it's something that'd be worth looking into. Open a new issue on Github and we'll start looking into it ;-)

[2018-02-24 09:41] shaneosullivanky opened #43 "telly on nVidia Shield Plex Media Server"
There are a huge amount of people in the Plex world using nVidia Shields as their Plex Media Server. It’s basically a small powerful games console running Android TV and with hardware H264 and H265 chips which means it runs circles around most older but more powerful Intel Core i7 processors that don’t have hardware decoding.

Could telly be used on the nVidia Shield?

[2018-02-24 11:06] andyblac commented on #26
just a heads up plex 'pings' the device via the SSDP protocol, you need to add a SSDP routine to your code, have a look how i managed this at my project https://github.com/OpenViX/HRTunerProxy your more than welcome to used some code, just a give me a thanks in your app.

[2018-02-24 11:09] tombowditch commented on #26
@andyblac ooo, something I completely missed... many thanks! I'll take a look at it early next week and be sure to give you credit ;-)

[2018-02-24 11:10] andyblac commented on #26
shoot me an email if you need help andyblac at icloud.com

[2018-02-24 11:10] tombowditch commented on #26
Thanks mate 👍

[2018-02-24 11:16] tombowditch opened #44 "telly needs SSDP/UPnP"
According to @andyblac Plex pings the device to see if it's "alive" persay via SSDP/UPnP. telly does NOT do this currently and we'll need to implement it to allow telly to be automatically discovered and to make it properly work with existing HDHomeruns (see #26)

From @andyblac:

T

[2018-02-24 11:18] tombowditch commented on #44
This is also, I assume, why this currently happens sometimes:

![image](https://user-images.githubusercontent.com/5332144/36629861-69721026-1954-11e8-802d-01a2b2e62b8c.png)

[2018-02-24 11:20] andyblac commented on #44
yup that correct, it failed the heartbeat test.

[2018-02-24 11:20] porkie02 commented on #42
XMLTV wont maps channels, the only way to map channels using epg xml is to use your current providers epg. A lot of the time though providers epgs are not that great and the default plex one works better unless there is a good epg provider out there.

[2018-02-24 11:24] porkie02 commented on #43
After a short google I came across this to get docker running on a shield, I cant vouch for it or anything but it seems possible. If you got docker running on the shield then you could use the container version of telly.

http://blog.hypriot.com/post/getting-docker-running-on-a-highend-arm-gaming-console-for-fun-and-profit/

[2018-02-24 11:38] TannerBKelly commented on #43
It appears that you can just compile it to an APK
https://github.com/golang/go/wiki/Mobile

[2018-02-24 15:46] tombowditch commented on #44
@andyblac you mention correct UUIDs and lengths - where do I find documentation for properly generating them?

T

[2018-02-24 16:48] HazCod commented on #44
This seems about what we need: https://github.com/fromkeith/gossdp/blob/master/ssdp.go#L54

[2018-02-24 20:33] Korni22 opened #45 "timeout in Plex Web"
Hey Tom!

I am trying to play basically any stream at all via Plex Web but sadly it always fails with this error message:
![imgur](https://i.imgur.com/FiVGuEv.png)

The .m3u looks like this:

[code]

It also fails in the iOS app.

Any idea?

[2018-02-24 20:36] porkie02 commented on #45
Is it vader streams or a vader reseller? The m3u look similar. If it is vaders, they very up and down recently and I have had issues as well. It works fine with other providers.

[2018-02-24 20:39] Korni22 commented on #45
@porkie02 well, it's not vader, it might be a reseller, but I am not sure.

It works fine in VLC and MPC-HC, but won't work with telly 😢

[2018-02-24 20:56] Korni22 commented on #45
YIKES

it seems the provider seems to be whitelisting my IP - so it fails on my other machine 👀

Let me contact them and see if they can fix it 😉

If it's still broken after whitelisting the IP, I'll reopen the ticket!

Sorry for the annoyance!

[2018-02-24 20:56] #45 closed

[2018-02-25 20:33] manolodf commented on #44
Would each instance of Telly (in case you run multiple) need its own UUID and then you would be able to run 2 separate Telly Instances Simultaneously?

[2018-02-25 20:34] tombowditch commented on #44
I assume so, @HazCod

[2018-02-26 11:34] cpecquerie commented on #37
#EXTM3U
#EXTINF:0,2 - France 2 (standard)
rtsp://mafreebox.freebox.fr/fbxtv_pub/stream?namespace=1&service=201&flavour=sd
#EXTINF:0,2 - France 2 (bas débit)
rtsp://mafreebox.freebox.fr/fbxtv_pub/stream?namespace=1&service=201&flavour=ld
#EXTINF:0,2 - France 2 (HD)
rtsp://mafreebox.freebox.fr/fbxtv_pub/stream?namespace=1&service=201&flavour=hd
#EXTINF:0,2 - France 2 (auto)
rtsp://mafreebox.freebox.

[2018-02-26 11:38] cpecquerie opened #46 "fails to parse Freebox m3u"
Hi !
Great tool, couldn't wait to test it ;-)

I get the following error with Freebox m3u (French Internet provider with free IPTV stream)
[code]

Thanks,
Christophe.

[2018-02-27 02:04] 12nick12 commented on #34
It works now. Sorry for the lack of info.

[2018-02-27 02:04] #34 closed

[2018-02-27 02:12] 12nick12 opened #47 "-streams not working"
Does it matter what location we put the -streams 4? It doesn't seem to be working. Plex is only allowing one stream at a time. Also even when telly is running Plex shows that the tuner is offline, but it's still functional.

[2018-02-27 07:29] tombowditch commented on #47
First part of your issue: restart Plex when setting -streams

Second part: see #44, it's something we're working on

[2018-02-27 12:36] 12nick12 commented on #47
OK. Awesome. You rock. Where can I shoot donations?

[2018-02-27 17:13] tombowditch commented on #46
As seen in [these lines of the parser](https://github.com/tombowditch/telly-m3u-parser/blob/master/m3u.go#L25-L27), this means telly was unable to open the m3u. Does it have permission for it? By chance, are you using Docker?

T

[2018-02-27 19:18] HazCod commented on #44
@tombowditch see https://github.com/tombowditch/telly/pull/48

[2018-02-28 00:33] picto3000 commented on #7
The ability to set the tmp location via an argument would be great.
I've got the docker running in Kitematic, but can't get it to create the temp m3u file.
`[telly] [info] booting telly v0.4.3`
`[telly] [error] Could not create file: /tmp/telly.m3u ; open /tmp/telly.m3u: no such file or directory`

[2018-02-28 00:35] tombowditch commented on #7
@picto3000 definitely something to look into - open an issue on it for me ;-)

-----

@EnorMOZ will be able to give more insight (I believe), but you'll have to mount (or attach?) /tmp, sorry for being vague - I'm not much of a Docker guy :-)

[2018-02-28 00:37] picto3000 commented on #7
Will do. I've only started using Docker today with telly. So I'm not that experienced and could be missing something.

[2018-02-28 00:44] picto3000 opened #49 "Possible docker image change required for Kitematic"
I've got the docker running in Kitematic, but can't get it to create the temp m3u file.
`[telly] [info] booting telly v0.4.3`
`[telly] [error] Could not create file: /tmp/telly.m3u ; open /tmp/telly.m3u: no such file or directory`

It's possible when creating the image the VOLUME argument needs to be defined, but I am a newbie to dockers.

[2018-02-28 01:56] EnorMOZ commented on #49
You will need to mount /tmp when you run the container for now. I pinged @tombowditch on discord about a possible permanent solution.

[2018-02-28 02:00] picto3000 commented on #49
I don't believe Kitematic allows the arbitrary mounting of volumes.
If I could use a command line argument to set a tmp location, I may be able to get around this.

[2018-02-28 02:20] EnorMOZ commented on #7
@picto3000 check #50

[2018-02-28 02:42] BenPicard opened #51 "Virus in telly-windows-386.exe ?"
I can't download telly-windows-386.exe. Windows is removing the file every time and it's telling me that there is a virus.

Ben

[2018-02-28 04:05] dqans commented on #7
Support for Channels app on AppleTV. I _believe_ this will only work over UDP, hence Telly does not currently work. Long shot but figured I'd ask.

[2018-02-28 09:56] tombowditch commented on #51
Browsers flag .exe's by default. telly does not ship with any viruses - you can build it yourself using `go build` or if you're not on Windows, `GOOS=windows GOARCH=amd64 go build`

[2018-02-28 10:14] tombowditch commented on #49
@picto3000 as of #52 the `-temp` argument is now possible + Docker (if you pull again) defaults to /

[2018-02-28 13:11] #47 closed

[2018-02-28 13:14] 12nick12 commented on #7
@cesalo Depending on your Linux version you can do SystemD. Here the systemd file I created https://pastebin.com/n9HJ0ymC. Then after you do that run "systemctl daemon-reload" then "systemctl start telly" then "systemctl enable telly" this will enable it on boot.

[2018-02-28 13:15] 12nick12 opened #54 "Slow transcoding"
Can you guys maybe help me track down why I can't get plex to transcode above 1? I have dual e5-2670s so I have more than enough power. When it's buffering I only have a load of 4 or 5 and CPU usage of 20%. This is with a bunch of other people streaming non-live TV.

[2018-02-28 14:02] cpecquerie commented on #46
Yes I am using docker, the m3u has read permissions for everyone.
Any idea?
Thanks

[2018-02-28 14:21] cesalo commented on #7
@12nick12 Thanks. I guess at the end you can gain the same using the docker image.

[2018-02-28 14:23] 12nick12 commented on #7
@cesalo I guess so. I personally don't have much knowledge with with Docker so I try to stay away from it lol.

[2018-02-28 14:28] cesalo commented on #54
We would need more info before giving some ideas .. but in general you can play around with the settings here:

Check Transcode quality and/or the x264 preset.

I have dual E5-2660s and generally it gets to the throttle buffer (10m of buffer) very quickly and I see transcoding at 7x or even more depending on the video file.

![image](https://user-images.githubusercontent.com/16859916/36792682-3308

[2018-02-28 14:37] 12nick12 commented on #54
Everything works great other than liveTV. I changed the buffer form 60 seconds to 600 seconds.

[2018-02-28 14:42] 12nick12 commented on #54
I also had my transode directory on a ramdisk of 25GB. I went back and looked and at max time the ramdisk was at 15GB and my mount was 25GB. I raised it to 40GB. Maybe that help also

[2018-02-28 14:43] EnorMOZ commented on #46
@cpecquerie , Please provide as much detail on how you are running this in docker. Command, volumes/mounts etc.

[2018-02-28 14:47] HazCod commented on #49
We fixed this in the latest commit, I suppose this can be closed @tombowditch ?

[2018-02-28 14:48] tombowditch commented on #49
Sounds good, let me know if you need anymore help @picto3000

[2018-02-28 14:48] #49 closed

[2018-02-28 14:50] smoothrunnings opened #55 "MAC addresses and telly"
I am missing in the how-to set this up. All IPTV services require you to provide them with a MAC address to connect to their servers. I don't see any of that in the how-to. So how does this work? You have to explain it like we are all 3 year old's if you want it to be super popular! :)

[2018-02-28 14:50] tombowditch commented on #19
Closing this due to lack of reply, feel free to re-open.

[2018-02-28 14:50] #19 closed

[2018-02-28 14:51] tombowditch commented on #55
A MAC address is an optional field when signing up for IPTV providers. telly takes your m3u file and transforms it so that Plex can deal with it.

[2018-02-28 14:53] smoothrunnings commented on #55
Wrong. A MAC address is REQUIRED by your IPTV service provider this is how they allow you access to their server. I have used IPTVExpress, Voodoo, Crown, and many others. They don't just let you connect freely, it requires a Mag compatible box and they MAC address.

[2018-02-28 14:54] HazCod commented on #55
This is a bit unrelated to telly. I suppose you can use the MAC address of the interface of the server you're running telly on?

[2018-02-28 14:56] tombowditch commented on #55
@smoothrunnings - it maybe be required on your provider, but any provider I've ever used doesn't require it. You can just provide the MAC address of the interface of the server you're running telly on, I suppose, like @HazCod suggested.

[2018-02-28 14:59] smoothrunnings commented on #55
You can't do that. IPTV MAC addresses all start with 00:1A:78:xx:xx:xx you can't get that from a regular NIC. I am surprised you haven't experienced this.. It's nothing new, I have been watching different IPTV services providers for the last 4 years. It started with IPGuys.

[2018-02-28 15:00] HazCod commented on #55
Then you'll need to change the MAC of your interface to start with 00:1A:78 or there's nothing we can do for you.

[2018-02-28 15:01] smoothrunnings commented on #55
You could start by writing a problem that meets industry standards!

[2018-02-28 15:04] tombowditch commented on #55
@smoothrunnings - help us understand. What are MAC addresses in IPTV used for? To my understanding, they're used for something like a MAG box. I think you're misunderstanding what telly is and what it's used for.

[2018-02-28 15:13] Dec64 commented on #55
that's for Mag IPTV, not all iptv services are MAG protocol. Use a different provider or ask your providor to give you a m3u playlist.

[2018-02-28 15:13] tombowditch commented on #55
Thanks @Dec64 👍

[2018-02-28 15:16] cesalo commented on #54
@12nick12 so you want to transcode the live tv feed? mmm .. I haven't done that and not sure you can using a m3u playlist.

[2018-02-28 15:38] porkie02 commented on #54
You could also try settings telly to use original format, go to plex dvr on your server and click the little cog icon on Telly.

https://i.imgur.com/LQAfLTd.png

https://i.imgur.com/Hfy7zNp.png

[2018-02-28 17:11] cpecquerie commented on #46
Sure, I am running telly though docker-compose, here's the config I have

   telly:
     container_name: telly
     image: tombowditch/telly
     ports:
       - "8071:6077"
     environment:
       - PLAYLIST="/config/playlist.m3u"
     volumes:
       - /sharedfolders/docker/telly:/config
     restart: unless-stopped

[2018-02-28 17:42] 12nick12 commented on #54
I'll have to try original format. I watch it on a Roku so I figured it needed to be transcoded.

[2018-02-28 20:52] shaneosullivanky commented on #55
My IPTV provider doesn’t require a MAC address, I can use the M3U file on any device I want as long as it’s not at the same time. Some IPTV providers may look for a MAC address to lock the m3u file to that device only, that is provider specific and not the case for all providers.

[2018-02-28 20:55] shaneosullivanky commented on #54
Most IPTV streams are in mobile friendly h264 format and will play directly on Chromecast, iPhones and Roku. Leave on original quality should work.

[2018-02-28 21:09] 12nick12 commented on #54
Ah ok. Thank you for the info.

On Wed, Feb 28, 2018 at 3:55 PM, shaneosullivanky <notifications@github.com>
wrote:

--
Best Regards,
Nicholas Leffler

[2018-02-28 21:37] manolodf commented on #55
Most IPTV Providers do not require a Mac address contrary to what smoothrunnings says, only the ones that provide the Stalker/MAG service is MAC address based, the normal ones, and the ones Telly is designed for and will work for plex are the ones that are M38 Playlist based, totally different types of service.   The Stalker/Mag ones are more designed like a Set-Top Box or to use something like Sm

[2018-02-28 22:36] EnorMOZ commented on #46
@cpecquerie that "looks" correct. Can you confirm that volume is actually mounted by running a `docker inspect -f '{{ .Mounts }}' containerid`. Also can you try using the "url" to the m3u vs file to see if that works ?

[2018-02-28 22:48] picto3000 commented on #49
Kitematic is now working. Thanks!

-Shaun

0413 911 938

From: Tom Bowditch <notifications@github.com>
Reply-To: tombowditch/telly <reply@reply.github.com>
Date: Thursday, 1 March 2018 at 1:50 am
To: tombowditch/telly <telly@noreply.github.com>
Cc: picto3000 <shaun.brady@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [tombowditch/telly] Possible docker image change required for Kite

[2018-03-01 07:49] HazCod commented on #46
Can you also confirm that /sharedfolders/docker/telly/playlist.m3u is readable by the user docker runs as? Try a `docker exec -ti <name-of-container> ls -al /config/`

[2018-03-01 07:52] HazCod commented on #55
Let's just close this @tombowditch. OP is uncivil and we made our point.

[2018-03-01 12:54] EnorMOZ commented on #46
@HazCod that is not going to work as the base is a "scratch" container which does not contain "ls" "bash" etc. He will have to get the $PID of that running container with something like `docker inspect -f '{{.State.Pid}}' telly` then as root `ls -lrt /proc/$PID/root/` and `ls -lrt /proc/$PID/root/config/` That should give us a good listing of file permissions.

[2018-03-01 13:39] #55 closed

[2018-03-01 17:54] cpecquerie commented on #46
@HazCod I got `[{bind  /sharedfolders/docker/telly /config  rw true rprivate}]` from this command
` docker inspect -f '{{ .Mounts }}' telly`
@EnorMOZ your command `docker inspect -f '{{.State.Pid}}' telly` returns 0  which does not seem right.

When I try with the URL, it also fails to open the m3u, here's the log
[code]

[2018-03-01 18:11] cpecquerie commented on #46
Just a quick update, I tried to run the binary directly and it works with this command :  `./telly -playlist http://mafreebox.freebox.fr/freeboxtv/playlist.m3u` so it's definitely related to docker.

[2018-03-01 20:49] penfolduk commented on #43
for plex would need it to be a .bundle file so it can appear in plugins

[2018-03-01 21:53] lcasey001 commented on #46
@cpecquerie Can you run this `docker inspect -f '{{.State}}' telly`.  When you ran the binary directly was it from the same box as the container ?
Also feel free to join the discord channel you would probably get more help there and in real time.

[2018-03-02 03:25] TannerBKelly commented on #43
If it's a separate app the couldn't it just run in the background. All it does is pass a channel list that's formatted correctly.

[2018-03-02 14:49] 12nick12 commented on #54
Switching it to original format fixed it most of the time. It still buffers sometimes, but I think that's because I have it running thru a PIA VPN.

[2018-03-03 01:24] spankhur opened #56 "Australian IPTV - m3u(8) woes"
Hi,
New to IPTV and playlist files so please excuse any basic ignorance that shows through :)

I have your Telly docker installed on unraid and have found a source of Australian IPTV from here:
     https://www.matthuisman.nz/2017/07/australia-iptv-epg-files.html

From the instructions on that page I determined the relevant URL as:
      TV: http://iptv.matthuisman.nz/au/Adelaide/raw-tv.m3u8

and

[2018-03-03 08:32] tombowditch commented on #56
Okay, this is nothing to do with you ;-) and a telly issue. It's something to do with the CA certificates - kind of related to this: https://github.com/zenazn/goji/issues/126#issuecomment-100063848

Will find a fix today and get back to you!

[2018-03-03 13:37] NicoLeOca opened #57 "EXTM3U header present but telly doesn't wnat to read the m3u file"
Hi @tombowditch
I am really interested in using telly but I can't get it to read any m3u file
my os is Windows 10
I launch a command console as administrator
and do that launch telly-windows-amd64.exe

[code]

here is one of the m3u file which failed.
It has a #EXTM3U header

[code]

Can you help please?

[2018-03-04 00:29] haxcop opened #58 "Parameter -temp & -Useregex not working on Windows"
Hi, there's some issues on the windows 64 release
As you can see bellow the local directory exist but telly someshow is unable to finish the creation of the file and fails.
As i could see on discord you have solve this on linux and it would be nice to have it too on Windows.

`PS C:\Users\Carlos\Documents\tools> telly-windows-amd64.exe -playlist="http://api.vaders.tv/vget?username=username&passwor

[2018-03-04 09:16] Hengjie opened #59 "Unable to tune channel error"
I'm running Telly command below and though it's added successfully, it errors out when playing

[code]

I get a `Unable to tune channel (Timed out)` error.

There are no errors in telly stdout. I'm running this on Ubuntu 17.04 with plex media server v1.12.0.4829.

[2018-03-04 18:34] HazCod commented on #56
This is because go expects CA root certificates to be present on the filesystem, but as we're using a scratch (empty) filesystem it lacks these. Package in question is `ca-certificates` on alpine.

I will create a PR.

[2018-03-04 18:39] HazCod commented on #58
Weird, as the default value is `os.TempDir()+"/telly.m3u"`.
From the docs:

    On Windows, it uses GetTempPath, returning the first non-empty value from %TMP%, %TEMP%, %USERPROFILE%, or the Windows directory.

[2018-03-04 18:41] HazCod commented on #59
Have you tried restarting plex? If nothing shows up in telly, it means plex does not try to connect to it.

[2018-03-04 18:46] tombowditch commented on #57
Hey!

I've a feeling this is UNIX line endings vs Windows line endings clashing with each other. If you've something like Notepad++, could you try changing the line endings to UNIX line endings?

T

[2018-03-04 18:47] tombowditch commented on #56
Looks good, I'll get this merged!

[2018-03-04 18:49] tombowditch commented on #56
@spankhur can you try pulling again and letting us know if this fixes it for you?

[2018-03-04 18:51] tombowditch commented on #59
@Hengjie an error like that is nothing to do with telly - It'd more be your IPTV provider having issues or blocking you. Try opening up the m3u, finding the `.ts` url and `wget`-ing that and see if it works or errors.

T

[2018-03-04 18:51] tombowditch commented on #51
Closing this due to lack of response, let me know if I can be of further help (just reopen the issue!).

[2018-03-04 18:51] #51 closed

[2018-03-04 18:52] #37 closed

[2018-03-04 20:36] NicoLeOca commented on #57
Hi @tombowditch
Thanks for trying to help me out

Unfortunately, endings were already in UNIX.
Any other idea?

[2018-03-04 20:41] tombowditch commented on #57
Hm, can you try Windows line endings then?

[2018-03-04 21:01] NicoLeOca commented on #57
that doesn't solve the problem either

[2018-03-04 22:34] Hengjie commented on #59
Wow! Thanks for the quick responses! With Telly, I tried accessing the URLs and they appear to be working. Though when I wget the first `tv.9.m3u8` file I only get a 4979 byte file. Could that be the problem?

`lineup.json` output:
[code]

[2018-03-04 23:06] haxcop commented on #58
Hi @HazCod  sure is in the details above but anyway here's again
%TEMP% & %TMP% = C:\Users\Carlos\AppData\Local\Temp < Are the same
%USERPROFILE% = Carlos

[2018-03-05 08:03] HazCod commented on #57
Can you upload the file somewhere so we can test ourselves?

[2018-03-05 12:34] jamesdisco opened #62 "Recordings stop after a couple of minutes"
My recordings are stopping from anywhere between 30 seconds and 15 minutes, telly doesn't seem to show any errors and neither does plex. I've attached my logs.
[Plex Media Server Logs_2018-03-05_11-33-10.zip](https://github.com/tombowditch/telly/files/1780741/Plex.Media.Server.Logs_2018-03-05_11-33-10.zip)
Watching live works well and my other DVB-T tuners record the full programme.
I'm using the

[2018-03-05 15:32] haxcop commented on #57
@NicoLeOca I have just ran into a similar problem on Windows and realize it's indeed the encoding of the file and contents, you must pre-format your file to utf-8 so `telly` will be able to recognize it as @tombowditch mentioned

[2018-03-05 19:46] NicoLeOca commented on #57
Hi,
Thanks for your replies
Telly needs files to be encoded in UTF8 without BOM and it works now

[2018-03-05 20:18] mattstutter commented on #59
I ran into the same problem with the iptv.matthuisman.nz m3u8 link.  I've tried with the RAW version as well.

I presume it's as Tom is saying the link isn't a .TS feed, but points off to another m3u8 link that takes care of it.

[2018-03-05 20:43] HazCod commented on #59
I think I had the same thing in muxy, with the channel m3u containing rotating TS files.

[2018-03-05 22:23] HazCod commented on #62
Does the telly log tell anything? Because this looks like it's Plex related.

[2018-03-06 09:16] HazCod commented on #54
Closing this for now. Please take future Plex-related issues to the Plex forums or Discord.

[2018-03-06 09:16] #54 closed

[2018-03-06 09:17] tombowditch commented on #62
Been using telly for a couple weeks now and it seems to record most recordings. I wonder if it's related to #44 maybe @andyblac can confirm?

@jamesdisco Plex forum thread + reddit posts are planned once v0.5 is out 👍
T

[2018-03-06 09:35] HazCod commented on #56
Closing this since no response. Comment if you still see any issues.

[2018-03-06 09:35] #56 closed

[2018-03-06 09:38] #57 closed

[2018-03-06 09:41] HazCod commented on #46
I tried testing the playlist myself, but the site isn't reachable?

    curl -v http://mafreebox.freebox.fr/freeboxtv/playlist.m3u
    *   Trying 212.27.38.253...
    * TCP_NODELAY set
    -timeout-

[2018-03-06 09:45] HazCod commented on #42
I suppose this isn't specific to telly, except that perhaps we can try to return the tvg-id's if they are given in the m3u. I'm closing this one and opening a new issue for this.

[2018-03-06 09:45] #42 closed

[2018-03-06 09:46] HazCod opened #63 "Return real playlist channel numbers if available"
When parsing the m3u, we should be able to parse out `tvg-id`.
And then return this `tvg-id` as a channel number to Plex.

This will improve the channel matching for xmltv EPG.

[2018-03-06 09:59] HazCod commented on #63
Opened issue for this in telly-m3u-parser: https://github.com/tombowditch/telly-m3u-parser/issues/1

[2018-03-06 11:11] tombowditch commented on #58
Backslash vs forward slash @HazCod ?

[2018-03-06 12:09] haxcop opened #64 "use -useregex and -filterregex to take a .txt file"
Feature request:

It will be more handy in some cases if is possible to use the power of use:
`-useregex` & `-filteregex` from a `"newfileName.txt"`
as an alternative for large selection of channels, groups, country's, etc...

this came up as the result of using other scripts in combination with `telly`
for an easy and clear example this can be archive in the following way.

`C:\Python27\python.ex

[2018-03-06 12:37] HazCod commented on #58
Aha! Perhaps we should use `os.path.Join(os.TempDir(), "telly.m3u")`

[2018-03-06 21:55] erlebc commented on #58
I'm not a developer by trade, and I know you guys are building bundles / executables for multiple plaforms.  I'm on a Win 10 64-bit also, and see the same issue that @haxcop reported.  I can see in the https://github.com/tombowditch/telly/tree/fix-tempdefault  directory there is a new file called main.go, but I presume this would be for a platform where the source files can be replaced and then si

[2018-03-07 07:42] HazCod commented on #58
@erlebc @haxcop try this build
[telly-windows-fixtmpdefault.exe.zip](https://github.com/tombowditch/telly/files/1788210/telly-windows-fixtmpdefault.exe.zip)

[2018-03-07 07:44] haxcop commented on #59
Hey guys, i just ran into a similar issue, in my case is that i was able to tune the channels and everything perfect for hours but later i got nothing available on my program guide
see the attachments pics
btw using vaders and the program guide epg from Plex(gracenote Sky HD)

![screen shot 2018-03-07 at 07 37 46](https://user-images.githubusercontent.com/7826906/37079655-38d63002-21db-11e8-98de-d

[2018-03-07 14:37] jamesdisco commented on #62
All seems well now, recordings are fully completing. Looking forward to getting chanel nos. working will make matching so much easier. Thanks again.

[2018-03-07 14:37] #62 closed

[2018-03-07 14:37] erlebc commented on #58
@HazCod - Sorry, but I get the same behavior with the updated build.

C:\Users\Dad\Downloads\telly-windows-fixtmpdefault.exe>telly-windows-fixtmpdefault -playlist=https://tinyurl.com/y7vqnx2u -useregex .*US*.
[telly] [info] booting telly v0.4.5
[telly] [error] Could not create file: C:\Users\Dad\AppData\Local\Temp ; open C:\Users\Dad\AppData\Local\Temp: is a directory

[2018-03-07 15:52] haxcop commented on #58
@HazCod I have tried and is the same story - fails to create the file
PS C:\WINDOWS\system32> C:\Users\clozada\Downloads\telly-windows-fixtmpdefault.exe\telly-windows-fixtmpdefault.exe -play
list "https://blablabla/123456"
[telly] [info] booting telly v0.4.5
[telly] [error] Could not create file: C:\Users\clo\AppData\Local\Temp ; open C:\Users\clo\AppData\Local\Temp: is a directory
PS C:\WINDOWS\s

[2018-03-07 16:16] erlebc commented on #58
@haxcop.  Thanks for the heads up.  I didn't realize I had exposed myself there.  I've updated the comment, and appreciate you pointing it out.

[2018-03-08 07:19] lellimecnar opened #65 "Advanced Filtering"
Rather than just matching channels that _contain_ a specified string, I'd like to be able to _exclude_ channels that contain a string, or start/end with a string.

(I tried using negative lookarounds, but go doesn't support them)

[2018-03-08 15:56] lellimecnar commented on #65
If there's an `exclude` option added, it would make sense to implement #64 for it as well.

[2018-03-09 20:52] spankhur commented on #56
Hi Tom,
sorry for the delay, I've been travelling wtih no access to my server.
Pulled new version down and immediate success :)

I''ve just started the Plex DVR setup process (downloading EPG info now) and have my fingers crossed.

Thanks for your help.

[2018-03-09 21:28] tombowditch opened #66 "get rid of tvg-name parsing"
telly-m3u-parser now does it: https://github.com/tombowditch/telly-m3u-parser/commit/5f9203f78a9690299f30654da664c2f55831e9ca

We should stop doing it twice.

[2018-03-09 21:40] #66 closed

[2018-03-09 21:41] tombowditch commented on #63
This is now possible. m3u.Track now has

[code]

T

[2018-03-09 22:40] tombowditch commented on #56
Not a problem @spankhur - sounds good! ;-)

[2018-03-10 14:45] HazCod commented on #63
@tombowditch see PR https://github.com/tombowditch/telly/pull/67

[2018-03-12 01:02] maekillam commented on #7
Any chance this could be made into a QPKG ? I would like to run it on my Qnap but don’t have enough ram for virtualization. This seems a much more elegant solution compared to TVHeadend and tvh proxy.

[2018-03-12 01:16] diswell commented on #7
Runs fine on Qnap devices, without the need for a QPKG. Copy it to the NAS, run it from an SSH prompt.

[2018-03-13 01:25] maekillam opened #68 "Hoping for pity"
I really want to use this program as I think it is exactly what I need. I am fumbling blindly , however, because I know little about how it works and enough about programming to be dangerous. I have two choices to install. A computer running windows 10 home (where I have my PLEX already) or a QNAP TS-469 Pro (where I could easily  install an additional PLEX server) . I tried the telly-windows-amd6

[2018-03-13 07:56] HazCod commented on #68
Try opening commandprompt, going to the directory where telly resides and executing it with the correct arguments. Just clicking it doesn't supply enough arguments, making it to exit.

Perhaps someone on Windows can chime in and give you the commands.

[2018-03-13 20:18] haxcop commented on #68
Hi @maekillam is easy
for example:
if you have the telly program into your download folder it will look something like this

Now you can run it in this way: Open PowerShell as Administrator and follow the below line
`c:\users\YOU\downloads\telly-windows-amd64.exe  -playlist="YOUR M3U URL OR FILE LOCATION HERE WITH THE QUOTES"`
this will do the job but probably will load more than 400+ channels and

[2018-03-13 21:37] shaneosullivanky commented on #68
Or if Powershell is a bit advanced, you can simply use CMD prompt (DOS command).

Depending on which version of Windows you have, just search for CMD and then follow @haxcop ’s instructions.

Let us know how you get on and we can walk you through it step by step.

[2018-03-13 22:13] maekillam commented on #68
Thank you for the help and responses. I followed the instructions. I have an epg service which can whittle down an m3u file and give a new URL for it which is what I used. Appaantly all I was missing was the quotes when I tried it before. When I ran it this time I got the message:

C:\WINDOWS\system32>c:\telly-windows-386.exe -playlist="http://iptv-epg.com/some.m3u"
[telly] [info] booting telly v0

[2018-03-13 23:26] maekillam commented on #68
Ok so I downloaded the playlist into a file and got it working that way!  I will watch the thread about the http protocol. Plex found the tuner so I am set from there. Again thank you for all your help!

[2018-03-14 08:45] HazCod commented on #68
@maekillam in regard to your error, this has been fixed (but not sure if this has been put in to a new release yet, @tombowditch ?)

[2018-03-14 08:45] #68 closed

[2018-03-14 09:58] handyhelp opened #69 "no DVR is found"
Hello all

I have installed all. telly works and listen to port 6077 on my NAS Synology. Desperately the DVR Card cannot be found, not with localhost:6077, not with 0.0.0.0:6077 and not with 127.0.0.1:6077. Does anyone know if i need to do something on the firewall?
Thanks
Dany

[2018-03-14 10:10] HazCod commented on #69
Are you using Docker or running it on the NAS system over CLI?

[2018-03-14 10:16] handyhelp commented on #69
I'm using the Docker

[2018-03-14 10:18] handyhelp commented on #69
2018-03-14 10:17:18	stdout	[telly] [info] listening on 0.0.0.0:6077
2018-03-14 10:17:18	stdout	[telly] [info] Building lineup
2018-03-14 10:17:18	stdout	[telly] [info] creating webserver routes
2018-03-14 10:17:18	stdout	[telly] [info] creating device xml
2018-03-14 10:17:18	stdout	[telly] [info] creating lineup status
2018-03-14 10:17:18	stdout	[telly] [info] creating discovery data
2018-03-14 10

[2018-03-14 10:42] handyhelp commented on #69
Sorry, my mistake, i didn't change in Settings the local port, now it works

[2018-03-14 10:42] #69 closed

[2018-03-15 04:30] compkickers opened #70 "cannot determine available commands for telly"
Is there any documentation for telly?? Mainly some sort of command list and short desc of what commands do.

great tool though, its made my day.

Just wish i could work out best way to use it and work around issues im having like channel quantity issues?

Thanks

[2018-03-15 06:29] HazCod commented on #70
What about ‘./telly -help’?

[2018-03-15 06:51] compkickers commented on #70
Is it the same on the Windows versions???

Ill try it, I did try but not sure if I tried -help

From: HazCod <notifications@github.com>
Sent: 15 March 2018 06:29
To: tombowditch/telly <telly@noreply.github.com>
Cc: john kenny <john.kenny@compkickers.com>; Author <author@noreply.github.com>
Subject: Re: [tombowditch/telly] cannot determine available commands for telly (#70)

What about ‘./telly -he

[2018-03-15 11:24] erlebc commented on #58
Would you guys have a time line for a fix for this Windows problem?

[2018-03-15 12:14] Sheryars opened #71 "Telly on ubuntu."
I'm very new to ubuntu. Can someone guide me how to install telly on Ubuntu.

[2018-03-15 13:21] haxcop commented on #58
@erlebc you can use a destination path for now as a workaround before its fixed

[2018-03-15 13:26] haxcop commented on #70
@compkickers Hi - you can use '--help' for more information

[2018-03-15 14:05] haxcop commented on #70
Hi @compkickers you can run multiple instances of Telly  groups or channels in many ways...
for Example: here you can see for command 1 only for sports groups and 2 for Channels -

`telly-windows-amd64.exe -playlist="Path.to.your.file.M3U"  -friendlyname "Sports" -useregex 'Sports' -deviceid "00000001" -listen "127.0.0.1:1077"`

``telly-windows-amd64.exe -playlist="Path.to.your.file.M3U"  -friendl

[2018-03-15 14:10] erlebc commented on #58
I assume you refer to the -temp flag on the telly executable.  I have tried
using that flag with various directories.  Some of which I created, and
others which are already present and should have read / write on them.   I
always get the same message:

C:\Users\Dad\Downloads\telly-windows-fixtmpdefault.exe>telly-windows-fixtmpdefault
-playlist=https://someurl.com -temp=C:\ -useregex=.*US*.
[telly]

[2018-03-15 14:20] haxcop commented on #58
@erlebc you need to do it something like this
`-temp "C:\users\erlebc\anyfolder\FILE_NAME_OF_YOUR_CHOICE" -useregex 'United States'`
The `-useregex` is case sensitive, so ill recommend to have a look at your m3u file and check the how the group channels are written i.e. On Vaders is United States
give it a go now :)

[2018-03-15 15:53] erlebc commented on #58
Thank You Carlos.  Able to get telly to parse my list and listen now.  It
also did take the one string I used with the -useregex flag.  Do you allow
chaining of multiple strings?  In my list there are multiple groups which
I'd like to bring in such as Movies, Sports, etc.  I tried a comma
separator, but that resulted in 0 channels being loaded.  When I used a
single argument/string then it found 9

[2018-03-15 16:19] haxcop commented on #58
@erlebc You Welcome.
You can use the syntax `-useregex 'Ireland|United Kingdom|Sports'` for groups or channels required of your preference and `-filterregex ` for the unwanted ones.
I clear this in a combined way "for now" with two other scripts and powershell which basically can sort and delete the duplicated channels normally found on m3u list and gives you a cleaner xml epg file according to yo

[2018-03-15 20:58] erlebc commented on #58
@hazcop:  I really appreciate your assistance as I think this is going to be a fantastic addition to PLEX.  However, now that I am attempting to use the pipeline separator for -filterregex and -useregex I either am back to the "cannot create directory" error, or, if I move the -temp flag more to the front of the command, then it will run, but I don't believe any filtering of the playlist is happen

[2018-03-16 09:44] tombowditch commented on #71
Hi,

What part are you stuck at/do you need help with?

[2018-03-16 09:46] tombowditch commented on #70
@compkickers correct - lots of us have over 420 channels in our m3u's, but lots of us also filter is down using the regex. @haxcop is correct that you can use multiple instances. Just to note: when changing the friendly names or device ID's it's a wise idea to restart plexmediaserver as it tends to do alot of caching.

The 420 channel thing is, unfortunately, completely out of telly's control as i

[2018-03-16 10:11] Sheryars commented on #71
i got it working. read through the discord messages where you guided someone.

I am stuck trying to sort out epg now since i have multiple countries links from the m3u file.

[2018-03-16 10:36] haxcop commented on #58
@erlebc THe -filterregex seems to be working correctly on telly and that's the reason i use a separate scripts as mentioned above
the `-temp` needs to be just after the `-playlist`

with the above scripts i do something like this into a PowerShell.ps1
# Set your folder test location
Set-Location C:\Users\Carlos\Documents\Plex-Scripts\development\telly\tests
# Declare your variables below
$1 = "C:\

[2018-03-16 11:16] Sheryars commented on #71
can you help me run telly by default in the background. at the moment i have to run it through the terminal in ubuntu

[2018-03-16 16:48] programmerq opened #72 "implement persistent channel numbers"
Currently, channels are numbered incrementally which can introduce an issue where the channels shift if the regex changes.

While some providers to provide tvg-id fields to determine a channel number, it isn't a ubiquitous piece of information across all providers.

It would be preferable to have a given channel have a consistent channel number despite changes to the total list of channels availab

[2018-03-16 20:21] compkickers commented on #70
@tombowditch yeah i did try to filter my m3u down but even then i was coming up with over 450, but now i know i can create multiple streams each with a seperate m3u my problem is solved.

Keep up the good work,

JK

[2018-03-17 01:54] shimmeryphil opened #73 "Windows server RC2"
Hi.  I'm sure I'm doing something dumb, but when I try to run the telly-windows-386 executable with a playlist parameter on the Windows Server RC2 box I run Plex on, I get the following. I can successfully fun the same command on a Windows 10 machine with no problem, but  don't run my Plex server on a windows 10 machine! Could you please tell me what I'm missing as it's driving me up the wall!

Th

[2018-03-17 12:36] haxcop commented on #73
@shimmeryphil  This is known issue to create the temp file. Please see the issue #58 for more details.

Tag: duplicated

[2018-03-18 03:18] kalyway commented on #59
I'm getting the same issues with a premium IPTV m3u playlist. It works for my friend no problems. Not using telly though.

[2018-03-18 08:40] ioan-rosca commented on #7
How can i use this in synology? any chance to get an *.spk? docker container not working.

[2018-03-18 17:26] slamanna212 commented on #59
I have the same issue as @haxcop using Vaders. I hastily set it up last night running the linux executable. I am redoing it right now inside of docker so il see if that changes anything

[2018-03-18 17:34] slamanna212 opened #74 "Program Guide Disapears"
Running Ubuntu 16.04, Plex and Telly in docker containers

Using Vaders Stream with some regex and matching it to DirectTV in the united states

When i first download everything it shows me all 1000  channels on direct TV, and leaves the ones i dont have matched blank. After a couple hours the programming guide disappears. If i tune a channel that i had setup it works, but of course if i try a cha

[2018-03-18 18:42] kalyway commented on #59
So, this is what helped me. Using a reseller of Vaders (PM Club) list. I setup using linux executable on Ubuntu. I was also running Plex in a docker. What I did was setup telly and THEN restarted Plex THEN setup using Live DVR in Plex. Worked just fine.

[2018-03-18 18:43] slamanna212 commented on #59
@kalyway and has it lasted for more than a couple hours?

Also, when you go to browse channels, does it show you EVERY single channel, or only the channels you have mapped

[2018-03-18 22:57] #74 closed

[2018-03-19 19:51] taylorbourne commented on #59
I'm a Vaders user as well and have seen this happen when pasting the m3u directly as it was listed on my providers website:
`http://vaders.tv:80/get.php?username=USERNAME&password=PASS&type=m3u_plus&output=m3u8`
Simply changing the `output` parameter worked for me:
`http://vaders.tv:80/get.php?username=USERNAME&password=PASS&type=m3u_plus&output=ts`
👍

[2018-03-20 11:58] vdias opened #75 "Not working on Docker/Synology"
Trying to execute this on my Synology NAS using docker... and it doesn't work.

Any build available to run it directly on Synology/Xpenology without docker?

[2018-03-20 12:31] tombowditch commented on #75
Got any more information other than "it doesn't work"? Any logs?

[2018-03-20 16:11] HazCod commented on #75
How did you specify your playlist?

[2018-03-20 16:20] vdias commented on #75
did not reach that step... deploy docker image... and it just keep on reboot... imposible to change anything...

[2018-03-20 17:24] HazCod commented on #75
Err, I believe you don’t know how to use Docker then.
Telly expects the playlist parameter to be given. When using Docker, this has to be given as an argument.

Because you’re not supplying one, the process exits and the container stops running. It says exactly that in the logs. (Playlist file not found)

[2018-03-20 19:40] vdias commented on #75
do i need to map some folder? or just point the m3u file?

[2018-03-20 19:43] HazCod commented on #75
Depends whether the file is reachable on the internet using an URL or only locally.
If it's local, you will need to map a folder.

[2018-03-20 19:45] vdias commented on #75
On synology docker... i can map a folder or change variable... but as you can see telly.m3u is already defined on docker image...

![telly02](https://user-images.githubusercontent.com/2320553/37678869-9400e680-2c7f-11e8-8fb3-e8b722eb3e24.PNG)
![telly01](https://user-images.githubusercontent.com/2320553/37678870-946ace60-2c7f-11e8-8ae4-f7f0cea2be70.PNG)

The m3u is locally on my nas...

[2018-03-20 19:50] vdias commented on #75
![telly03](https://user-images.githubusercontent.com/2320553/37679078-33b2cb6c-2c80-11e8-87de-33cb12414e64.PNG)
Trying to point to my m3u i cannot even deploy the container...

[2018-03-20 19:54] HazCod commented on #75
You didn’t mount /TV/ ?

[2018-03-20 20:00] vdias commented on #75
i canot create the container... error about "command"

[2018-03-21 08:59] HazCod commented on #75
I'm going to close this. Please get help with Docker or Synology on their respective forums, telly works fine.

[2018-03-21 08:59] #75 closed

[2018-03-21 09:08] HazCod commented on #58
Can you guys see if following build fixes the issue?

[telly-fix2.zip](https://github.com/tombowditch/telly/files/1832550/telly-fix2.zip)

[2018-03-21 09:09] HazCod commented on #71
This is unrelated to telly. Please get help in your respective ubuntu forum/channel.

Besides.. `./telly -playlist=myplaylist &`

[2018-03-21 09:09] #71 closed

[2018-03-21 09:09] HazCod commented on #70
Closing since the question has been answered.

[2018-03-21 09:09] #70 closed

[2018-03-21 09:12] HazCod commented on #59
Thanks @taylorbourne , we will specify this in the README.

[2018-03-21 09:12] #59 closed

[2018-03-21 09:13] HazCod commented on #46
Closing since inactive..

[2018-03-21 09:13] #46 closed

[2018-03-21 09:13] #26 closed

[2018-03-21 09:43] mattstutter commented on #59
Any suggestions on how to get a ts version? The original poster and myself are not using Vader’s list. We’re using the link above.

[2018-03-21 09:54] HazCod commented on #59
Try asking in the forums of your provider

[2018-03-21 09:56] HazCod commented on #17
In that case, do we really want to pick up changes automatically?

[2018-03-21 12:22] haxcop commented on #58
@HazCod Thanks for the release but it not Fixed have a look at the output below with different tests

[telly] [info] booting telly v0.4.5
[telly] [error] Could not create file: C:\Users\clozada\AppData\Local\Temp ; open C:\Users\clozada\AppData\Local\Temp: is a directory

[telly] [info] booting telly v0.4.5
[telly] [error] Could not create file: C:\Users\clozada\AppData\Local\Temp ; open C:\Users\

[2018-03-21 12:25] haxcop commented on #58
Closed by mistake.
@HazCod  here's the output - remains the issue.

[telly] [info] booting telly v0.4.5
[telly] [error] Could not create file: C:\Users\clozada\AppData\Local\Temp ; open C:\Users\clozada\AppData\Local\Temp: is a directory

[telly] [info] booting telly v0.4.5
[telly] [error] Could not create file: C:\Users\clozada\AppData\Local\Temp ; open C:\Users\clozada\AppData\Local\Temp: is a d

[2018-03-21 13:01] HazCod commented on #58
Another try:
[telly-fix3.zip](https://github.com/tombowditch/telly/files/1833309/telly-fix3.zip)

[2018-03-21 13:15] haxcop commented on #58
@HazCod Same error

[2018-03-21 18:05] theflu opened #76 "Specify Group Titles"
I would like to be able specify groups tiltles so it only pulls those from the m3u
group-title="something here"

Ex:
-group-titles 'us|ca|uk' # this would pull every this with us, ca and uk as group title

[2018-03-21 18:09] HazCod commented on #76
I understand the need, problem is that groups actually are a made up thing in M3Us.
They are just channels

[2018-03-21 18:49] theflu commented on #76
What if you parse the m3u as text file and remove the no matching entries and save the new m3u in tmp

[2018-03-21 21:05] theflu commented on #76
I wrote this script to do it

`#!/usr/bin/python3.5
import os
import sys
import string
import requests

m3u_url = 'http://something.com'
var_name = 'group-title'
var_options = ['United States']
save_file = 'playlist.m3u'

req = requests.get(m3u_url)

req_text = req.text

lines = req_text.splitlines()

with open(save_file, 'w') as m3u_file:
  i = 0
  match = False
  for line in lines:
    if i == 0

[2018-03-21 22:37] theflu opened #77 "Unable to tune channel (Timed out)"
The problem I am having is that plex adds "?transcode=none" to the end of TS URL. My providers TS URL already has get variables in so by adding that is breaks the URL because it has 2 question marks in it.

[2018-03-22 08:06] tombowditch commented on #77
This is a new one. Will investigate!

[2018-03-22 08:07] tombowditch commented on #72
Definitely will use this as a fallback to #67

[2018-03-22 16:07] theflu commented on #77
I created a custom solution with nginx and python. A python script changes the URLs in M3U  to point to nginx, then nginx redirects to the correctly formatted providors URL.

[2018-03-23 00:51] kalyway commented on #59
As someone who has vader streams I can definitely say that taylorbourne's suggestion is not working for me.

[2018-03-23 03:01] slamanna212 commented on #59
Using taylorbournes suggestion and using Vader's. Mine is working great!

On Thu, Mar 22, 2018 at 8:51 PM kalyway <notifications@github.com> wrote:

[2018-03-23 04:26] kalyway commented on #59
Oh, I'll try it again then. My apologies! 😃

[2018-03-24 19:58] haxcop commented on #59
@taylorbourne HI good point on that - so in escense we have two known methods to grab the m3u8 list from vaders
besides the two ones you provide there's a another one that download the links into the m3u8 with a token instead of .ts / .mp4 / .mkv
`http://api.vaders.tv/vget?username=username&password=password&format=ts`
and this can also be asked as `=m3u8`

I have had this funny thing recently wit

[2018-03-25 23:14] IllMethods commented on #77
I keep getting this issue too, not sure if it is the same exact problem, but my channels are all working fine if I try to play them through the iptv plugin.

[2018-03-26 14:05] clarenceb5 commented on #24
How would this:
"-filterregex' Latino|United States|Premium Movies|Sports|United Kingdom'"
change when using Windows?

[2018-03-26 18:56] Latiron commented on #77
I grabbed an older version of Plex and after I uninstalled the latest version that was installed, I installed it.  It's Version 1.10.1.4602.  When I went to add the Telly Tuner, it did teh same thing as the newest version.  It see's the SiliconeDust Tuner for a moment, and then after a few seconds, it disappears.  I can still click on continue, and it will finish the rest of the setup, It see chan

[2018-03-27 19:33] lcasey001 commented on #77
I have a Plex forum thread opened up regarding this. Lets see if it gets any movement.

[2018-03-27 19:34] EnorMOZ commented on #77
I have a Plex forum thread opened up regarding this. Lets see if it gets any movement.

[2018-03-27 20:01] tombowditch commented on #77
Who are peoples IPTV providers? Is this just vaders?

@theflu could you share your nginx config?

[2018-03-27 20:42] theflu commented on #77
My m3u import script changes the URL to something like this: (the number is the ID of the channel)
[code]

This is my nginx config: ($1 is the channel ID)
[code]

[2018-03-27 20:47] cesalo commented on #77
I'm also having issues. Please is adding a transcode parameter but that works in VLC. In Plex is showing an error and fails.

http://xxxxx.tv/live/xxxxxx/xxxxx/2442.ts?transcode=none

Mar 27, 2018 16:29:43.774 [0x7f2ad13fe700] DEBUG - Completed: [172.17.0.5:59626] 200 GET /status/sessions (11 live) 3ms 8874 bytes (pipelined: 1)
Mar 27, 2018 16:29:44.509 [0x7f2a387ff700] DEBUG - Activity: updated a

[2018-03-27 20:53] EnorMOZ commented on #77
@cesalo, It might be related in the sense that Plex is appending that parameter but the main issue here is the double ? parameter which will break things for sure.

[2018-03-27 21:07] cesalo commented on #77
@EnorMOZ yeah, thanks but thought about posting it here in case other people is having the same issue.

[2018-03-30 11:41] north3221 commented on #77
First off, kudos to the devs on this. Awesome work guys!

I have the same issue with the extra query param for ?transcode=. I was thinking about something similar to @theflu  for a workaround. However it would be better for the fix to be in either Plex or Telly.

Having looked at the plex thread, they have basically said no, we don't support IPTV for the DVR. Not ideal, but leaves Telly being the

[2018-03-30 11:53] HazCod commented on #77
@tombowditch perhaps we can encode our stream URLs to base64 and point them to telly?
So streaming a file will return to `/stream/<base64>` and then we return a redirect to the decoded URL?

[2018-03-30 12:22] haxcop commented on #77
@HazCod Using
`http://vaders.tv/get.php?username=xxxx&password=xxxx&type=m3u_plus&output=ts`
 will be a workaround - Just need to then remove the :80 from the m3u streams - This could be archived with a rewrite rule as @theflu did with the Token with the request
`http://api.vaders.tv/vget?username=r&password=xxxx&format=ts`

[2018-03-30 13:26] north3221 commented on #77
I just thought I'd give myself a little time to try with ngnix as per @theflu to see if I could get it up and running. Never used it before, but as theflu already have the regex server setup it was pretty easy. Only having to debug the redirect going to the wrong url.

In my case I dont need the .ts $1 already has the stream id and .ts (my fault as didn't include it in the find replace on the .msu

[2018-04-01 04:29] WaechterGit commented on #77
Was wondering if anyone would be willing to explain the workaround with nginx a little more? include the python script if possible.

[2018-04-02 17:44] KunfuMunky commented on #7
It would indeed be nice to have it as and QPKG. I already tried what @maekillam said but after Googling for an hour I still didn't find oud how to run it properly haha! I know I'm still a newbie in these things but with an QPKG it would be a lot easier haha! Thanks!

[2018-04-02 17:51] maekillam commented on #7
I’m still looking for how to do this as well @KunFuMunky. I figured out how to ssh onto the QNAP but I can’t figure out which release version to use.

[2018-04-02 18:02] KunfuMunky commented on #7
Yeah I have the same issue like that to... Doesn't @diswell know how this works? He sounds like the only guy who has this working right?

[2018-04-02 18:42] diswell commented on #7
The version depends on the processor you have in your QNAP.. You want the Linux release, but select the amd64 if it's a faster Intel CPU or the respective ARM if you have an old ARM CPU. Most modern QNAP NAS devices are running on Intel CPUs nowadays so that what I'd go with first, but check your spec sheets.

[2018-04-02 21:42] KunfuMunky commented on #7
Hey @diswell, I have TS-453B but what I don't understand is how you install a Linux file on a different operating system. You probably find this a stupid question but yeah :P .

[2018-04-02 21:47] diswell commented on #7
QNAP runs a Linux variant as its underlying OS. All you need to do is copy the telly file to your NAS using your regular PC. Then log in via SSH, navigate to the folder to which you copied the file and run from there. Obviously, ensure you follow the other Telly instructions in the readme.

[2018-04-02 22:18] KunfuMunky commented on #7
@diswell yeah I thought you meant that. I was already able to find the files via SSH but I don't know the command to run the file. Can you help me with that?

[2018-04-02 22:20] diswell commented on #7
./telly [then add the various parameters listed in the readme file]

[2018-04-02 22:26] KunfuMunky commented on #7
@diswell di you saw the command because nothing is happening...

[2018-04-02 22:29] diswell commented on #7
If you've copied Telly to the NAS, you've copied the .m3u file from your IPTV provider to the same folder, you can SSH into the NAS and navigate to that same folder, then you should be good to go with the developer's instructions. That all I can help you with at this point.

[2018-04-02 22:50] diswell commented on #7
Two more thoughts:

1. Be sure to change the file name to whatever is in your command. i.e. when you download the file, it'll be "telly-blah-blah". Change it to "telly" then copy it across to the NAS before trying to run it with ./telly

2. If you get a permission denied error when trying to run the file, you need to change its permissions. In your SSH window, navigate to the folder with telly and

[2018-04-03 13:11] 12nick12 commented on #77
I would also appreciate it if someone could provide more clarification.

[2018-04-03 17:40] theflu commented on #77
Here is the workaround I am using.

Python script to modify the playlist:
[code]

Nginx Config
[code]

[2018-04-05 03:45] theflu commented on #77
I don't think this would be that hard to implement into telly, but I don't know go. This is how I would do it.

1. add a cli option to enable the feature
2. parse the playlist (either put the urls in a DB with a id or just add the url one per line to a txt file)
3. while parsing, after adding the url to DB or txt replace the url in the playlist with telly http://address/id (id would be either the

[2018-04-05 22:14] duderz2011 opened #78 "Lost"
i am so lost ive downloaded the windows file and am using CMD and following the the tutorials but im getting nothing. am i in the wrong place completely?

[2018-04-05 23:29] Latiron commented on #78
Hey bud, swing over to the Discord group for telly and there are several of us who would be happy to help you out.

[2018-04-06 15:32] duderz2011 commented on #78
where do i find this group?

[2018-04-06 15:42] haxcop commented on #78
@duderz2011 is in the first-page README at the bottom line >> https://discord.gg/bnNC8qX

[2018-04-06 16:43] #78 closed

[2018-04-06 16:44] tombowditch commented on #77
@HazCod yep that seems like the best idea, base64 the urls

[2018-04-07 03:39] Latiron commented on #43
Until nVidia opens up their code on the Shield to allow users to see and add to the plugins folder, this won't be possible. (Unless you root the Shield I guess, but no one is gonna do that as a standard).

But I agree that it could just be a standalone app like it runs in, say windows, that a user could launch before launching Plex Server.  Or if it's possible, I'm not a programmer or coder or dev

[2018-04-07 16:42] Latiron commented on #43
You miss my point.  A better, ideal solution, would be one where the end user, doesn't have to root their shield.  Ideally, you would want telly to function natively either running as an app on the shield or being able to drop into the plugins folder.  IMHO

[2018-04-08 10:32] HazCod commented on #77
I will implement this next week.

[2018-04-09 12:50] haxcop commented on #77
what's the change here @HazCod  - if you mind to quickly explain and what's the test to get done?

[2018-04-09 17:29] 12nick12 commented on #77
When I try to start a stream with this version I get a "[telly] [error] Invalid base64: aHR0cDovL3ZhcGkudmFkZXJzLnR2L3BsYXkvNzk0NC50cz90b2tlbj1leUoxYzJWeWJtRnRaU0k2SW5WelpYSTBNRFV6TWpVaUxDSndZWE56ZDI5eVpDSTZJazVsTURkelNXUmFjM2dpZlE9PQ==?transcode=none"

[2018-04-09 17:44] HazCod commented on #77
I see the issue, will fix in 1 hour

[2018-04-09 20:59] 12nick12 commented on #77
That doesn't work either. It doesn't even start the pulling of the channel. Here;s a screenshot.  https://up.5link.cc/zzsk8k75.png

[2018-04-09 21:01] HazCod commented on #77
Ahh, damn. That would mean Plex doesn't support HTTP redirects.
@tombowditch , we need a different approach then.

[2018-04-09 21:29] 12nick12 commented on #77
Yup it works with the encode. I still get a little buffer at the beginning, but after that it works just as before. Thank you.

[2018-04-09 21:37] 12nick12 commented on #77
Some channels still don't work tho "telly[23324]: [telly] [error] Invalid base64: aHR0cDovL3ZhcGkudmFkZXJzLnR2L3BsYXkvNTc4NDIudHM"

[2018-04-09 21:40] 12nick12 commented on #77
This is the link it should be encoding "http://vapi.vaders.tv/play/57842.ts?token=eyJ1c2VybmFtZSI6InVzZXI0MDUzMjUiLCJwYXNzd29yZCI6Ik5lMDdzSWRac3gifQ=="

[2018-04-09 21:41] 12nick12 commented on #77
I think the above is because they're preforming maintenance.

[2018-04-09 23:12] EnorMOZ commented on #77
@12nick12 please change the password you are using for your provider.

[2018-04-09 23:53] theflu commented on #77
@HazCod This might be what you are looking for.
[code]

[2018-04-10 00:07] theflu commented on #77
I don't know go but I took a stab at it.

**main.go @152**
[code]
**main.go @ 334**
[code]

[2018-04-10 06:52] HazCod commented on #77
@12nick12 can you try this build (more logging) and give me the full log when the channel isn't working?
Also, change your provider password afterwards. (again)

[base64-builds3.zip](https://github.com/tombowditch/telly/files/1893172/base64-builds3.zip)

[2018-04-10 15:05] 12nick12 commented on #77
Apr 10 10:59:37 Plex telly[12170]: [telly] [debug] Parsing URI /stream/aHR0cDovL3ZhcGkudmFkZXJzLnR2L3BsYXkvNDA4NzgudHM/dG9rZW49ZXlKMWMyVnlibUZ0WlNJNkluVnpaWEkwTURVek1qVWlMQ0p3WVhOemQyOXlaQ0k2SW1jd1oyTjFOemxtTWxocWRITjNVSGQ0UldVMFRXbEJTa2haUVdSelZsbFBSVVJpSW4wPQ==?transcode=none to aHR0cDovL3ZhcGkudmFkZXJzLnR2L3BsYXkvNDA4NzgudHM
Apr 10 10:59:37 Plex telly[12170]: [telly] [debug] Stream base64: aHR0

[2018-04-10 20:57] HazCod commented on #77
My mistake, I did not account that base64 could still contain slashes.
Can you try this build, @12nick12 ?

[base64-builds4.zip](https://github.com/tombowditch/telly/files/1896397/base64-builds4.zip)

[2018-04-10 21:05] 12nick12 commented on #77
I will once I get home.

On Tue, Apr 10, 2018, 4:57 PM HazCod <notifications@github.com> wrote:

[2018-04-10 22:27] 12nick12 commented on #77
Seems to work like a charm. Time to change my password again lol

[2018-04-11 07:28] haxcop commented on #77
O right then, so this will help to solve the token issue on Vader’s any other provider that does the same with the streams, now... Vader’s VOD dile adds no token but it adds ‘:80’ which it also gives the same bug, and the solution is to eliminate that string from it. Could this also be implemented in this build? I’ll be happy to test out if you need me :) @hazcod

[2018-04-11 08:00] HazCod commented on #77
@haxcop try out this build as this encodes the whole streaming URL, so should solve that problem as wel.

[2018-04-11 10:30] haxcop commented on #58
@HazCod For some Weird reasson (probably an API Request from telly?) the `-useregex 'A | B | C'` stoped working. i have tried on Telly Versions : 4.4 / 4.5 / and the latest build given on issue #77 - and the -filterregex either.

[2018-04-11 11:04] 12nick12 commented on #77
This new encoded version of telly seems to fix the buffering I was having. Originally Telly would buffer for the first couple minutes then it would start playing nice. Now it just starts with no problem.

[2018-04-11 11:29] HazCod commented on #77
@tombowditch perhaps we should turn this on by default?

[2018-04-11 15:57] tombowditch commented on #77
Great work, @HazCod - yes, I believe we should make it by default. Maybe it's worth having an `-originalurl` option to not use the base64 URLs and instead the URLs provided via the m3u?

[2018-04-11 19:06] HazCod commented on #77
Just for your information, next release will have this turned on by default, so no changes required on your end! You can disable this behaviour by specifying `-direct`.

[2018-04-11 19:13] tombowditch commented on #77
All released on Docker & GH @ https://github.com/tombowditch/telly/releases/tag/v0.5

@theflu @IllMethods @Latiron @cesalo @WaechterGit @north3221 @EnorMOZ - please try it ;-) Report back in a new issue if you have any issues please!

[2018-04-11 19:13] tombowditch commented on #77
I'll 🔒 this now so we can keep track of issues.

[2018-04-11 19:44] HazCod commented on #43
I'm closing this issue as this isn't specific to telly anymore.
Open this back up if any problems arise because of telly.

[2018-04-11 19:44] #43 closed

[2018-04-11 19:45] HazCod commented on #72
Closing this, please continue discussion in https://github.com/tombowditch/telly/issues/63

[2018-04-11 19:45] #72 closed

[2018-04-11 19:49] shaneosullivanky commented on #43
Hi Hazcod

This isn't an issue, it is a request to be able to run telly on the nVidia shield which a huge amount of people around the world use as a plex server.

If this has to be closed and it's not possible then that's ok, but I think you might have misunderstood the original request.

[2018-04-11 19:52] HazCod commented on #43
Hello @shaneosullivanky , APKs aren't supported officially by Go, so I deem this out of scope.
Always free to pick this up again if @tombowditch wants to.

[2018-04-12 00:10] dpohlman commented on #7
Ok, I know telly is for plex, but with the complications of matching up guide data, do you think there would be any way to make this work for Emby as well.  They already have an m3u tuner that lets you put in your own xml guide data url, but they don't have any way of filtering all then unwanted channels.  Emby also has the ability to use HDhomerun and have xml data, so I was kind of hoping telly

[2018-04-12 00:15] 12nick12 commented on #7
Why would you want it for Emby? I tried to manually add it to Emby a couple versions ago before I realized they had a m3u tuner and didn't have any luck. For filtering I just made a script that greps the main m3u from Vaders with only the channels I want and puts those in a file for me. I point telly and Emby to that m3u.

[2018-04-12 00:28] 12nick12 commented on #7
Heres the script I put together. My OS is Debian. Hopefully it makes sense. The site is safe, its just a cheap domain I purchased. https://up.5link.cc/ietxojb3.file

You might be able to get away with just using normal grep. The reason I did egrep was because I used to search for a different field, but since I switched it to the tvg-id I don't think it needs to be as messy.

[2018-04-12 00:32] dpohlman commented on #7
Many thanks, amazing our similar taste in pruned channels!

[2018-04-12 00:50] 12nick12 commented on #7
NP and yeah lol. Pretty everything that's not sports is what I like.

[2018-04-12 22:50] joecan00 opened #80 "Mac version?"
Pardon my ignorance but is there a Mac version?

[2018-04-13 00:16] spigots commented on #80
https://github.com/tombowditch/telly/releases/tag/v0.5

telly-darwin-amd64 is compiled and available right there.

[2018-04-13 01:08] joecan00 commented on #80
Didn’t really know that was the Mac version. Thanks for pointing me in the right direction!

[2018-04-15 13:02] tombowditch commented on #7
Okay. Going through these one by one from the 28th Feb.

-------------------------

@dqans is this Plex related?

---------------------

@ioan-rosca can you open an issue regarding Synology?

--------------------------

@KunfuMunky @maekillam can you guys open an issue regarding QPKG/QNAP? I am unfamiliar with it, but would be able to look into it :)

-------------------------

@dpohlman Emby is a

[2018-04-15 13:03] tombowditch commented on #7
I'm going to close + lock this issue now as it's against the whole "open one issue per suggestion/issue" thought - **this isn't me not accepting suggestions, if you want something added to telly, please OPEN AN ISSUE!**

Thanks all!

[2018-04-15 13:03] #7 closed

[2018-04-15 13:03] #80 closed

[2018-04-15 13:47] giopas opened #81 "[Question/Feature request] Using Telly to connect enigma2/BH to Plex Live"
Is it/will it be possible to use Telly as a "bridge" to stream/pass along (standard and/or IPTV) channels from an enigma2/Black Hole device to Plex Live & DVR?

[2018-04-15 20:33] HazCod commented on #81
If the enigma2/black hole device offer M3U playlist files to stream like IPTV, sure.

[2018-04-15 20:47] lordbeavis opened #82 "Unable to tune channel (Timed out)"
i am using eternaltv and i can filter the channel list and load the container with the docker, plus add it to plex and get the epg downloaded, but when i go to watch an channel it says "Unable to tune channel (Timed out)"

i am using docker and telly 0.5

[2018-04-16 06:45] HazCod commented on #82
Can you provide your full telly logs and mask your IPTV urls?

[2018-04-16 07:06] lordbeavis commented on #82
[telly] [info] telly is currently not filtering for only uk television. if you would like it to, please use the flag -uktv,
[telly] [info] listening on 0.0.0.0:6077,
[telly] [info] creating device xml,
[telly] [info] Building lineup,
[telly] [info] creating webserver routes,
[telly] [info] creating lineup status,
[telly] [info] found 211 channels,
[telly] [warning] telly is not attempting to strip

[2018-04-16 07:39] HazCod commented on #82
Did you try opening your `http://live.eternaltv.net...` URL with VLC to check if it works?
Also, what are your arguments you pass to telly?

[2018-04-16 08:09] lordbeavis commented on #82
this is what i get from vlc:
Your input can't be opened:
VLC is unable to open the MRL 'http://live.eternaltv.net:25461/movie/USERNAME/RPASSWORD/25701.mp4'. Check the log for details.
But then it plays a movie

my arguments are:
docker run \
  -d \
  --name telly \
  -p 6077:6077/tcp \
  -v /home/lbeavisc/appdata/telly/tmp:/tmp \
  -e PLAYLIST="http://live.eternaltv.net:25461/get.php?username=USER

[2018-04-16 08:16] HazCod commented on #82
So you are able to tune to the channel in VLC you tried in Plex?

Also, is that the complete log? I do not see any request from Plex to telly.

[2018-04-16 08:35] lordbeavis commented on #82
{"log":"[telly] [info] booting telly v0.5\n","stream":"stdout","time":"2018-04-16T08:00:07.244401431Z"}
{"log":"[telly] [info] Downloading file http://live.eternaltv.net:25461/get.php?username=USERNAME\u0026password=PASSWORD\u0026type=m3u_plus\u0026output=ts to /tel$
{"log":"[telly] [info] Reading m3u file /telly.m3u...\n","stream":"stdout","time":"2018-04-16T08:00:07.487374001Z"}
{"log":"[telly]

[2018-04-16 17:47] bevanpfc opened #83 "Channels"
Hi Tom, just a quick hypothetical question for you, as telly tricks plex into thinking it’s a HDhomeRun could the same practice be done so that this 3rd party HDhomeRun app could work with Telly ?

https://getchannels.com/

[2018-04-16 19:57] giopas commented on #81
If you open the WebUI (openwebif) of the Black holes, you can select a Bouquet and clicking on the TV icon, you can download an m3u8 file starting like the following:

#EXTM3U
#EXTVLCOPT-http-reconnect=true
#EXTINF:-1,CCN
#EXTVLCOPT: program=3023
http://192.168.1.23:8001/1:0:1:D3B:1867:4BH:FGTT:820000:0:0:0:

Is that something that Telly can understand?

Thanks!

[2018-04-17 06:29] HazCod commented on #83
This should theoretically work!

[2018-04-17 06:30] HazCod commented on #81
If you can open that URL in VLC and it plays fine, yes.

[2018-04-17 22:39] bevanpfc commented on #83
Yeah, I’d be interested to try it but the app on tvOS is almost $30 !
They have an api available in the support section on their website, not sure if that would help you guys out.
EPG shouldn’t be a problem as far as I can see as it seems to support multi countries.

[2018-04-18 01:37] lordbeavis commented on #82
i got it working

docker run \
  -d \
  --name telly \
  -p 6077:6077/tcp \
  -v /home/lbeavisc/appdata/telly/tmp:/tmp \
  -e PLAYLIST="http://live.eternaltv.net:25461/get.php?username=USERNAME&password=PASSWORD=m3u_plus&output=ts" \
  -e USEREGEX="USA|USA-PREMIUM MOVIE" \
  -e STREAMS=1 \
  -e FRIENDLYNAME="Tuner1" \
  -e DEVICEID="12345678" \
  -e TEMP="/tmp" \
  -e PUID=1000 \
  -e PGID=1000 \

[2018-04-18 12:06] #82 closed

[2018-04-18 21:29] a8ree opened #84 "There was a transcoder error"
Hi

I'm running Plex server on 2012 R2 and I set up Telly without issue (x64) and did the channel mappings. When trying to record I get
'There was a transcoder error'

I see the following in the Plex logs

Apr 18, 2018 22:27:11.809 [166496] DEBUG - Cleaning directory for session pbkoizh342qdbu68hv8lucoe (C:\Temp\Transcode\Sessions\plex-transcode-pbkoizh342qdbu68hv8lucoe-da77b312-e887-4971-b29a-749

[2018-04-18 21:31] a8ree commented on #84
And some more of the log

Apr 18, 2018 22:30:30.866 [166496] DEBUG - DVR:Grabber: Setting timer to stop grab of 'Live TV - Session' in 300 seconds.
Apr 18, 2018 22:30:30.867 [166496] DEBUG - DVR:Grabber: Waiting for a tuner (2 available).
Apr 18, 2018 22:30:30.867 [166496] DEBUG - DVR:Grabber: Allocated a tuner (1 left)
Apr 18, 2018 22:30:30.868 [166496] DEBUG - We're going to try to auto-select a

[2018-04-18 22:29] a8ree commented on #84
Sorry, where are they located/ what are they called?

On Wed, 18 Apr 2018, 23:18 HazCod, <notifications@github.com> wrote:

[2018-04-19 20:52] a8ree commented on #84
here is the window output

[telly] [info] booting telly v0.5
[telly] [info] Reading m3u file Z:\ServerFolders\ServerApps\scripts\vget.m3u...
[telly] [warning] telly is not attempting to strip out unneeded channels, please
 use the flag -filterregex if telly returns too many channels
[telly] [info] telly is currently not filtering for only uk television. if you w
ould like it to, please use the fla

[2018-04-22 11:14] bevanpfc commented on #83
So I took the risk and bought the channels app purely out of curiosity!
I have the option to manually add tuner so I’m guessing I should enter the IP address of my Mac that I’m using telly on.
Entering this gives me an error “no tuner could be found”
I’ve tried adding the port number as well but that doesn’t work either, not sure if I’m entering it right 192.xxx.x.xx:6077

So at the moment it does

[2018-04-22 14:42] HazCod commented on #83
You could perhaps try to run a tcpdump on your mac (`sudo tcpdump -s0 -w $(whoami)/Desktop/telly.pcap`), try adding the tuner and see what's in the packet capture.
(Or upload it for me to check)

[2018-04-22 20:52] ioan-rosca opened #85 "Telly Synology spk or Docker"
Hi there,
Can someone port this to synology as a spk?

It woks on Sino Docker, adding PLAYLIST as variable but not playing any channels.

Thanks,

[2018-04-23 11:01] nakure commented on #84
@a8ree that final URL for vapi.vaders includes your token, so that can be piped into any of their channel m3us to watch tv using your account.  You should update your password with vaders to renew your token.

[2018-04-23 19:59] AllviewTV commented on #81
You could use the Plex DVR plugin on your enigma2 device and set it up on plex normal set up works perfect for me

[2018-04-23 20:52] giopas commented on #81
@HazCod I have tried, but it seems that it does not work.

@AllviewTV googling I see that Plex DVR is now called HRTunerProxy [1], but I do not know how to install it and how to use it. cAn you please provide some additional information/guidance?

Thanks.

ps: this way Telly is not even necessary, right?

[1] https://github.com/OpenViX/HRTunerProxy

[2018-04-23 22:51] MentulTH opened #86 "Complete noob"
I'm a complete noob to this. I have Plex, a NVDIA Shield and an IPTV suh. Can you please help or post a video tutorial? Never really messed with Plex aside from the DLNA side of it for a private VoD library. TiA

[2018-04-23 22:52] MentulTH commented on #86
Meant to say IPTV sub

[2018-04-24 06:39] HazCod commented on #81
Closing the issue as this isn't telly related, but feel free to continue the discussion.

[2018-04-24 06:39] #81 closed

[2018-04-24 06:41] HazCod commented on #86
Is plex running on the NVIDIA Shield or windows/mac/linux?
The main idea is to run telly as `./telly -playlist=path-to-your-m3u.m3u` and set it up as `ip-of-pc-running-telly:6077` in Plex as a DVR.

[2018-04-24 06:42] HazCod commented on #85
How do you mean 'not playing any channels'? Please be specific. Give errors, logs, how you set it up and what you tried.

[2018-04-24 06:45] HazCod commented on #84
Weird thing is, your encoded URL decodes to a string with unicode characters. What kind of keyboard setting do you use?

[2018-04-24 06:47] HazCod commented on #83
It seems Channels wants the SSDP UDP stuff to work for discovery, which is tracked here: https://github.com/tombowditch/telly/pull/48

[2018-04-25 02:46] cibrd0wn opened #87 "Specific Formats"
I have Telly 0.5.0 installed on my qnap nas. If i try to run telly -playlist=http://api.vaders.tvXXXXXX.ts I get _[error] Could not create file: /opt/tmp ; open /opt/tmp: is a directory._

**If i try to run telly -playlist=/Public/iptv.m3u** I get Reading m3u file /Public/iptv.m3u...
[telly] [error] unable to read m3u file, error below
[telly] [error] m3u files need to have specific formats, see t

[2018-04-25 06:50] HazCod commented on #87
Can you try with `./telly -playlist=<..> -temp=/tmp/` ?

[2018-04-29 13:22] grdon999 opened #88 "vaders IPTV"
Hi, If I use tvheadend and the proxy I can use my vaders IPTV. If I use telly I get cannot tune to channel all the time. I can use telly with other IPTV, and I think it is due to vaders redirecting the stream, so when you look at the url that telly gets and open that url it downloads another file in the following format

#EXT-X-STREAM-INF:RESOLUTION=1280x720,FRAME-RATE=25.000,CODECS="avc1.64001f,m

[2018-04-29 16:31] HazCod commented on #88
I’m afraid telly doesn’t support playlists for the streams themselves for now

[2018-04-29 16:33] grdon999 commented on #88
so does that mean there is no way to use vader iptv wwith telly?

[2018-04-29 17:17] HazCod commented on #88
Just to confirm, you have m3uplus with mpegts selected when downloading your m3u playlist, right?

[2018-04-29 17:38] grdon999 commented on #88
So I am using

http://api.vaders.tv/vget?username=xxxxx&password=xxxxx&type=m3u_plus&output=ts

but that still seems to get the EXT-X-STREAM file. So when i look in /tmp at the telly m3u file and wget one of the urls from there I dont get the ts stream I get this oher file

[2018-04-29 18:48] grdon999 commented on #88
is anyone using vaders stream with telly? Other posts on github seem to suggest they are

[2018-04-29 20:14] grdon999 commented on #88
ok So I have found that if you use format=ts rather than output=ts you get a stream that telly likes.

[2018-04-30 05:23] #88 closed, assigned to nobody

[2018-04-30 16:57] b1ll0t0s opened #89 "Telly on QNAP"
Hi, I am new to this effort and I love telly and how it works. I apologize if my question is stupid but I am trying to see how telly can remain open after I terminate my shh session in qnap.

I was able to edit my iptv m3u playlist to include only a very few channels so it's easier for telly to load and I was able to see the tv guide for the channels on plex. Everything works as expected but how c

[2018-04-30 17:39] tmm1 commented on #83
Channels does not use SSDP, but expects the HDHomeRun-specific UDP control/discovery API to be implemented on port 65001

[2018-04-30 22:01] HazCod commented on #83
Ahh, I thought those were the same.

[2018-05-01 14:48] lufykun opened #90 "telly windows 10 x64 noob"
hello
first sorry for my english , thank you now we can play iptv on plex live tv

i'm trying to run telly on my windows but how can i do that ?

1 ) i downloaded "telly-windows-amd64.exe" correct ?

2) my m3u playlist is "http://iptv-epg.com/myplaylist.m3u"

Run telly with the -playlist commandline argument pointing to your .m3u file. (This can be a local file or a URL) For example: ./telly -play

[2018-05-01 19:31] HazCod commented on #89
Try writing a init.d or systemd file for it, so it runs as a service and is restarted when it fails.

An easy way: ‘ssh server “telly -playlist=file &”

[2018-05-04 10:00] dopke139 opened #91 "Localhost only?"
Does Telly need to run on the same machine as the Plex Server or can it be accessed over the network? Ideally i'd like to run this on a separate VM with a VPN. I can't seem to make this work at the moment -is this possible?

[2018-05-04 10:14] dopke139 commented on #86
@HazCod **"and set it up as ip-of-pc-running-telly:6077 in Plex as a DVR."** - have you managed to configure it this way? I'm trying but even with windows firewall off on both ends Plex won't see Telly. Only way I can get it to work is running telly on the same machine as Plex.

[2018-05-04 19:09] HazCod commented on #91
Sure, look at the `-listen` argument.

E.g. `-listen=0.0.0.0:6070`

[2018-05-04 19:09] #91 closed

[2018-05-05 06:42] HazCod commented on #89
Closing this as this is unrelated to telly.

[2018-05-05 06:42] #89 closed

[2018-05-05 06:43] HazCod commented on #86
This does work as intended:

[code]

[2018-05-05 06:45] #85 closed

[2018-05-05 09:07] trantoriana opened #92 "Debian/Ubuntu install"
Hi,

I must be either very stupid today, or did not have enough coffee, but how do I install telly on ubuntu server ?

dpkg always complains that (any) of the install packages are not in debian format.
Which install should I take for OS : 16.04 LTS (GNU/Linux 4.15.15-1-pve x86_64)

Thanks, Tran

==================
sudo dpkg -i telly-linux-amd64
dpkg-deb: error: 'telly-linux-amd64' is not a debian

[2018-05-05 12:02] trantoriana commented on #92
Never mind, I build from source....

[2018-05-05 12:02] #92 closed

[2018-05-06 09:00] HazCod commented on #92
( we provide the binaries and not installation packages. So download the appropriate one and make it executable with chmod. )

[2018-05-06 09:01] HazCod commented on #86
No problem, when in doubt use ‘-help’.

[2018-05-07 15:47] TomGlass commented on #86
I'd recommend using the docker file given what you've told me

[2018-05-07 15:50] TomGlass opened #93 "Deploy on EC2 button not present"
Hello,

I'm unable to successful deploy this software. Do you support the "Deploy on EC2" or DigitalOcean buttons?

[2018-05-07 17:05] #86 closed

[2018-05-07 17:06] HazCod commented on #93
This works fine on any supported platform or docker, so I assume an error on your end.
I do not have an AWS account, so can’t help you there. Perhaps someone else?

[2018-05-08 16:37] boo0ger opened #94 "allow multiple instances to run on the same server"
My intention is to split the telly.exe into instances so that I can use the built in EPG features from Plex (using the location features).

i.e.
Telly (id:00000001) Friendlyname="Telly-Canada" regex="Canada" listen="localhost:6001"
Telly (id:00000002) Friendlyname="Telly-USA" regex="United States" listen="localhost:6002"
Telly (id:00000003) Friendlyname="Telly-UK" regex="United Kingdom" listen="lo

[2018-05-08 22:13] boo0ger commented on #94
Ok I managed to run three distinct instances although Plex kept confusing the friendly-names even if they were correctly configured.  Also Plex didn't allow me to choose a different "tv provider" even if it allows me to seleft a different country.... So unfortunately my plans didn't work out too well :/

[2018-05-14 18:34] myusuf3 commented on #58
not sure if this is right place, but how are you guys handling getting accurate guides into plex dvr for vaders? Can i provide this link somewhere for plex to consume? `http://vaders.tv/p2.xml.gz` ?

[2018-05-14 23:52] Latiron commented on #58
@myusuf3 This is not the right place for your particular post.  This is an open issue related to something totally different.  EIther open a new issue, or join the Discord Telly group and ask in the support channel.  Thanks.

[2018-05-17 17:33] kla1989 opened #95 "Support stream m3u8 playlists"
Would it be possible to use IPTV with .m3u8 streams and not .ts?
Then it would be possible to use IPTV of free channels, like the german public law channels providing there livestreams.

for example:
- https://www.kodinerds.net/index.php/Thread/56713-Kodinerds-IPTV-Fertige-Liste-mit-freien-IPTV-Kan%C3%A4len/

- https://raw.githubusercontent.com/jnk22/kodinerds-iptv/master/iptv/clean/clean_tv_main.

[2018-05-17 23:46] MentulTH commented on #43
@tombowditch is there any way we could beg you to do this?

[2018-05-18 13:35] MentulTH commented on #43
Yes it supports it.

On Fri, May 18, 2018, 9:22 AM Tom Bowditch <notifications@github.com> wrote:

[2018-05-19 22:00] ElBrad commented on #44
Any update on this? I'm trying to get the EPG right for my IPTV stream but can't edit the EPG channel line up because plex says the DVR is offline. Great work on this project so far guys i've been waiting for this since Live TV & DVR was announced this will be the final piece of the jigsaw

[2018-05-19 22:25] HazCod commented on #44
Plex saying its offline is related to the SSDP issue.

[2018-05-20 16:44] ElBrad opened #96 "Recording"
I've had telly running with Plex for the last few days, but most of the time when I record something I get only a few minutes to 40 mins of a 1 hour program. I'm not sure if this is a Plex issue or an issue with telly. I'm guessing the signal gets cut and telly or Plex doesn't recover and simply ends the recording.

[2018-05-20 16:48] ElBrad commented on #96
Could also be related to #44 maybe?

[2018-05-21 10:13] HazCod commented on #96
Indeed, I think it’s because of #44. You can try building from the feat-ssdp branch and see if that fixes your issue.

[2018-05-23 08:41] OmgImAlexis opened #97 "Allow baseURL to be overridden"
I'm running this in a Docker swarm and currently the listening address is also the address used in the `/lineup.json` XML which seems to cause an issue playing as the stream URLs are then incorrect.

For example my main swarm's IP is 192.168.1.175 yet the json file lists URLs starting with `0.0.0.0` like this `http://0.0.0.0:6077/stream/`.

&nbsp;

The reason I can't use `--listen=192.168.1.175:60

[2018-05-23 09:45] porkie02 commented on #97
You can override it by assigning your container with its own ip. There is some exmaples here on how to do that. https://stackoverflow.com/questions/26539727/giving-a-docker-container-a-routable-ip-address

[2018-05-23 09:49] porkie02 commented on #97
You are a slightly irratating person.

[2018-05-23 09:52] OmgImAlexis commented on #97
Instead of just answering the issue at hand you're walking me around in circles and treating me like I'm an idiot... how exactly didn't you think I would respond????

[2018-05-23 09:53] HazCod commented on #97
Calm down folks. There is currently no code for getting the right interface IP.

[2018-05-23 09:53] OmgImAlexis commented on #97
That's my whole point...

[2018-05-24 02:40] myusuf3 commented on #83
@maddox

[2018-05-24 06:01] HazCod commented on #44
Merged to main, please build a version yourself or wait for the next release.

[2018-05-24 06:01] #44 closed

[2018-05-24 06:02] #84 closed

[2018-05-24 06:03] HazCod commented on #84
Closing since there is no feedback.. Feel free to reopen this.

[2018-05-24 06:03] HazCod commented on #83
Merged to master, please build from the repo or wait for the next release.

[2018-05-24 06:04] HazCod commented on #94
Sorry to hear that, feel free to comment on this issue if you find a way to make it work!

[2018-05-24 06:04] #94 closed

[2018-05-24 06:04] HazCod commented on #87
Closing this since no feedback, feel free to reopen.

[2018-05-24 06:04] #87 closed

[2018-05-24 09:44] #97 closed

[2018-05-24 09:54] tombowditch opened #99 "Builds failing after SSDP impl."
@HazCod

Docker Cloud:

[code]

CircleCI:

[code]

Any idea?

T

[2018-05-24 10:01] HazCod commented on #99
Ahh, we might need to update the vendor directory?

[2018-05-24 10:02] tombowditch commented on #99
Just done that

[2018-05-24 10:49] HazCod commented on #99
Will take a look at it this evening.

[2018-05-24 17:09] TonyTheTechie opened #100 "Installing on a Raspberry Pi using HypriotOS and Docker"
I am trying to install Telly in a Docker Container on a Raspberry Pi 3 installed with HypriotOS.
I have managed to Pull the container, but I can't see how to proceed after that.
I have searched the web for some guidance, but have found none. Are there any more detailed instructions for installing in this environment .

Thanks

Tony Self

[2018-05-24 17:46] HazCod commented on #100
Telly will need the docker `--name telly`, `-listen=0.0.0.0:6077`, `-baseurl=telly:6077`, `-temp=/tmp` and `-playlist=http://url-to-your-playlist.m3u` arguments.

e.g. `docker run -ti --name=telly tombowditch/telly -listen=0.0.0.0:6077 -baseurl=telly:6077 -temp=/tmp -playlist=http://url-to-playlist.m3u`

Note: We're currently in the process of releasing so it's possible the image with `-baseurl` i

[2018-05-24 23:25] TonyTheTechie commented on #100
Thanks HazCod. I just tried the above line and got the following error: standard_init_linux.go:190: exec user process caused "exec format error"

[2018-05-29 09:48] HazCod commented on #100
What is the syntax of your `CMD` invocation @TonyTheTechie ?

[2018-05-29 18:53] Oggymator opened #101 "Plex dont find telly Docker Install Ubuntu"
Hi,

I installed as Docker on Ubuntu with this command:
_sudo docker run -ti -p 6077:6077 --name=telly tomboitch/telly -listen=0.0.0.0:6077 -temp=/tmp -playlist=http://www_

If I open the IP of ubuntu:6077 I got this message:
`<root><specVersion><major>1</major><minor>0</minor></specVersion><URLBase>http://0.0.0.0:6077</URLBase><device><deviceType>urn:schemas-upnp-org:device:MediaServer:1</deviceT

[2018-05-31 03:05] MentulTH opened #102 "Having trouble with Plex detecting Telly"
Was able to get Telly manually running via Windows power shell. Now, when trying to add to plex (running telly on windows machine and plex on shield), plex cannot find telly. After clicking "Add Live TV/DVR", I've tried both localhost:6077 and the Windows machine's IP:6077, neither worked. Any insight is appreciated.

[2018-05-31 10:48] HazCod commented on #102
Windows firewall perhaps?

[2018-05-31 10:48] HazCod commented on #102
Did you set ‘-listen=0.0.0.0:6077’ by the way?

[2018-05-31 11:13] Oggymator commented on #101
Can somebody psuh 0.6 telly to docker hub?
Dockerfile report an error.
Maybe 0.6 solve my problems, find no solution on the internet

[2018-05-31 12:26] Oggymator commented on #101
fiend the problem.
seems to be a problem with the friendly name.

But now I have next problem.
Plex find channels and I set channels and EPG, but now it is endless loading. I cannot finish it...

[2018-05-31 12:38] MentulTH commented on #102
Not sure. Any ideas on editing firewall allow? Do I need to use -listen statement with machine running telly ip ( like -listen 0.0.0.0:6077)?

[2018-05-31 12:39] MentulTH commented on #102
Because right now when telly is running in the power shell, it says listening localhost:6077 (running on windows machine) and plex cant find it. Have tried both on same windows machine and on browser on nvidia shield (where plex server is running).

[2018-05-31 13:15] HazCod commented on #101
What did you change in the friendly name to make it work? What didn't work?
Give us some details so we can help other people.

[2018-05-31 13:16] HazCod commented on #102
Well, it says exactly what the problem is. `localhost` means only the Windows machine can reach it.
If you use `-listen <ip-of-windows-pc>:6077` it will listen on an external interface, allowing others to reach it.

[2018-05-31 14:01] Oggymator commented on #101
Change friendly name to "HDHomerun" like you discussed here:
https://github.com/tombowditch/telly/pull/48

Now Plex find it and also the channels.
On EPG screen is endless loading.
![plex-epg](https://user-images.githubusercontent.com/1413794/40786646-d2e8c918-64eb-11e8-9ace-73203d92be2b.JPG)

[2018-05-31 14:18] HazCod commented on #101
Ahh, that's fixed in version 0.6 which is not on Docker Hub yet.
The duration of the loading is because Plex has difficulties working with that amount of channels.

[2018-05-31 14:18] #101 closed

[2018-05-31 14:27] Oggymator commented on #101
I have 122 channels but marked only 1 for testing.
Do you mean I have to wait longer?
Can you push the build for Docker Hub or activate autobuild?
thanks :)

[2018-05-31 14:29] HazCod commented on #101
For Docker Hub, we're keeping track of the issues here; https://github.com/tombowditch/telly/issues/99

[2018-06-03 13:05] TonyTheTechie commented on #100
HazCod sorry for the delay in replying. I have given up on the docker installation for the moment and have gone back to a basic Raspbian install. I have got Plex installed and Telly and have configured Plex's PVR, but I am not having much success with the IPTV feeds. I am using the UK iptvsource.com lists, but they seem update these everyday and they don't seem very stable. Can someone recommend m

[2018-06-05 14:29] Oggymator commented on #99
Did you find any solution for it?

[2018-06-07 14:35] linckez opened #103 "invalid memory address or nil pointer dereference"
Hi. I'm trying to run telly on Ubuntu 16.04. I get an error that I dont know how to solve.
Can anyone help? :-)

[code]

[2018-06-08 06:14] HazCod commented on #103
Did you compile from source? Or what release did you use?

[2018-06-08 09:28] linckez commented on #103
I did this.. But I am not sure that is correct. :)

cd $GOPATH
git clone https://github.com/tombowditch/telly.git
cd telly
go build
./telly -playlist="/MYFOLDER/playlist.m3u"

[2018-06-08 09:44] HazCod commented on #103
To be sure it isn't vendor specific, can you first run `go get -u all`  before compiling & running?

[2018-06-09 02:21] crowirl opened #104 "Unable to read M3U file"
Hi there, so fairly new to this,installing telly on Ubuntu 18.04 64 bit, using telly-linux-386.bin
I run the following command:
`iain@ubuntu:~/Downloads$ sudo '/home/iain/Downloads/telly-linux-386' -playlist=/home/iain/downloads/flawless.m3u
[telly] [info] booting telly v0.5
[telly] [info] Reading m3u file /home/iain/downloads/flawless.m3u...
[telly] [error] unable to read m3u file, error below
[t

[2018-06-09 08:48] LennyM8472 commented on #104
same here

[2018-06-09 09:04] shaneosullivanky commented on #104
I didn’t want to post anything in case I was doing something wrong but my .M3U file was working perfectly up to I think version V0.4.4 and on the next update I was getting an error saying the M3U was not in the correct format. Nothing had changed with my playlist file. I’ve read several comments about it needing to be in Unicode 8 and M3U8 format, I’ve spent days trying different things but it sti

[2018-06-09 10:32] HazCod commented on #104
@tombowditch , any ideas? Sounds phishy

[2018-06-10 23:36] crowirl commented on #104
Never mind I managed to get it working by changing the m3u layout from this
﻿#EXTM3U #EXTINF:-1 tvg-ID="BBC ONE FHD" tvg-name="UK: BBC ONE FHD" tvg-logo="https://archive.org/download/stevechatfield27_gmail_Bbc1/bbc%201.png" group-title="UK: Entertainment",UK: BBC ONE FHD http://pp.flawless-hosting.solutions:80/live/XXXXXX@XXXXX.com/XXXXXXXXXXXXX/8015.ts

To this
﻿#EXTM3U #EXTINF:-0, BBC ONE FHD ht

[2018-06-10 23:36] #104 closed

[2018-06-12 09:49] tfonfara opened #105 "Docker image inherit from alpine"
Hey there,

first of all, thanks for all the hard work, I really appreciate it!

Would it be possible to let the docker image inherit from alpine instead of scratch? It wouldn't increase the size dramatically but would add some essential things like for example a bash. Tried to get network information of my telly container but failed badly^^

Also currently the automatically built docker images ar

[2018-06-12 10:47] HazCod commented on #105
Hi, for network related stuff you can use `docker inspect`.
For the tagging, i'm bringing in @tombowditch

[2018-06-12 11:04] tfonfara commented on #105
Unfortunately docker inspect isn't really working, e.g. if I call `docker inspect --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' telly` it just returns nothing.

[2018-06-12 14:17] HazCod commented on #105
How did you run telly? What are your docker networks?

[2018-06-12 17:18] TomGlass opened #106 "#movingtogitlab?"

[2018-06-12 17:18] tombowditch commented on #106
no

[2018-06-12 17:18] #106 closed

[2018-06-12 22:32] tfonfara commented on #105
I run telly with docker compose:

[code]

But nevertheless, even if docker inspect would show me the ip address it would only show the internal address, not the external one.

[2018-06-13 12:00] HazCod commented on #105
Please pull and try again

[2018-06-13 12:01] HazCod commented on #99
Fixed

[2018-06-13 12:01] #99 closed

[2018-06-13 12:01] HazCod commented on #102
Closing since no feedback.

[2018-06-13 12:01] #102 closed

[2018-06-13 12:21] tfonfara commented on #105
What did you expect to change? I pulled the image and I'm running v0.6 now 👍 But NetworkSettings are still empty and the `docker exec` command from above also still fails.

[2018-06-13 12:38] HazCod commented on #105
It works fine here, I suspect something phishy with your networks in Docker?

[code]

[2018-06-13 12:46] tfonfara commented on #105
But the ip that it shows for you is only internal, there's no way for you to get the external ip, isn't it?
I'm using `network_mode: service:other_container`, seems that this is responsible for the empty NetworkSettings, other containers that don't use `network_mode` do show an ip address, but also only the internal one.

[2018-06-13 12:47] HazCod commented on #105
If you want the external IP address, find out what interfaces the host has.
And then you can bind on that one using `x.x.x.x:6077:6077` using `EXPOSE`.

[2018-06-13 12:48] HazCod commented on #105
Closing since this is Docker related.

[2018-06-13 12:48] #105 closed

[2018-06-13 12:50] #100 closed

[2018-06-13 12:51] HazCod commented on #96
Closing since no feedback.

[2018-06-13 12:51] #96 closed

[2018-06-13 12:58] shaneosullivanky commented on #104
Excellent, thank you for this. For months I’ve given up on using telly and your post resolved all my issues.

Tom would it be a good idea to post this in the readme for a good format for the m3u file?

[2018-06-13 15:06] tombowditch commented on #103
Found the root cause of this, working on a fix

[2018-06-13 15:16] #103 closed

[2018-06-14 10:37] greghesp commented on #24
I would like some more examples on how to use this if possible. Is it just searching each line by line?

As an example, my file contains:
`#EXTINF:-1 tvg-id="aande.us" tvg-name="A&E" tvg-logo="http://static.iptv-epg.com/us/AandE.us.png" group-title="US Entertainment",A&E`

What I want to do is simply filter it where group-title is "US Entertainment" and "USA Movie Networks"

I've attempted `-filte

[2018-06-15 11:37] tombowditch opened #108 "Recent "Unable to tune channel" issues"
Please record findings here.

[2018-06-15 11:48] tombowditch opened #109 "Allow custom channel mapping"
Should stop people having to spend hours fiddling with Plex UI. Would be a "channels.json" file or something similar with the format something like...

[code]

etc.

Will be coming shortly.

[2018-06-15 11:52] HazCod commented on #109
The channel name should be a regular expression or wildcard match too, as IPTV providers often append extra information before/after the channel name.

[2018-06-15 11:53] tombowditch commented on #109
Agreed, we cannot match one channel number to multiple channels though, as Plex will tell us "no"

[2018-06-15 13:03] tombowditch commented on #108
After a quick look...

[2018-06-15 13:57] HazCod commented on #108
So this is only related to HLS and not MPEGTS?

[2018-06-15 14:06] tombowditch commented on #108
Me and @EnorMOZ been working through some debugging, think we've found the issue.

Updates to follow

[2018-06-15 14:16] chazlarson commented on #109
PlexIPTV has a pretty nice implementation of this.
https://github.com/xiaodoudou/PlexIPTV

[2018-06-15 14:21] nroTTron commented on #108
Plex Media Server log is not logging any warnings or errors when I get the Playback error on Windows 10. Any ideas why not?

[2018-06-15 14:23] tombowditch commented on #108
@nroTTron open your .m3u, find one of the URLs. Does it end in `.ts`?

[2018-06-15 14:28] nroTTron commented on #108
It has .ts.  For the sake of this open ticket, I will test with non-Vaders M3u.

[2018-06-15 14:30] tombowditch opened #110 "Fallback when tvg-name is blank"
e.g.:

[code]

Should fallback to use `some-otherchannel-name-here`

would be a job for https://github.com/tombowditch/telly-m3u-parser

[2018-06-15 15:02] nroTTron commented on #108
FYI - I was just able to get a non-Vaders m3u to work on Win 10 ONLY if I select a built-in Plex EPG. I used a random service provider with US zipcode. No Playback Error.

When I try to load the provider XML, Plex fails to complete the guide setup process. It just keeps spinning the continue button on an endless loop. So I will add this in the other mapping thread as well.

[2018-06-15 15:03] nroTTron commented on #109
FYI - I was just able to get a non-Vaders m3u to work on Win 10 ONLY if I select a built-in Plex EPG. I used a random service provider with US zipcode. No Playback Error.

When I try to load the provider XML, Plex fails to complete the guide setup process. It just keeps spinning the continue button on an endless loop. So I will add this in the other mapping thread as well.

[2018-06-15 15:22] nroTTron commented on #109
FYI - I am able to get past the channel loading with IPTV XML by deleting DVR and restarting PMS a few times. Waiting for guide to load.

**#EXTINF:-1 tvg-id="US: A&E" tvg-name="US: A&E" tvg-logo="http://IPTVDOMAIN/guide/logos/AE.png" group-title="USA",US: A&E http://IPTVDOMAIN:PORT/live/xxxx/xxxxx/30.ts**

[2018-06-15 15:37] tombowditch commented on #108
Okay, tl;dr I think either Plex is no longer supporting .m3u8 streams or there's a bug in the recent version.

I recommend switching to using MPEG-TS (.ts) streams - most if not all providers support this by adding `&output=ts` to where you grab your .m3u

Keeping this open to track progress. If Plex don't fix this then I'll work on a transcoder .m3u8 -> .ts

[2018-06-15 15:39] tombowditch commented on #108
Copy and pastable sed:

[code]

[2018-06-15 15:52] nroTTron opened #111 "Plex GRID Column Overlap with IPTV XML"
There is compatibility issue with IPTV EPG URL & Plex Grid. The Plex Grid looks for channel number + channel icon. However, IPTV EPGs load channel name + channel icons into the Plex grid. This causes the first two columns of the grid to overlap.

Here is a snippet from IPTV M3u:

**#EXTINF:-1 tvg-id="US: A&E" tvg-name="US: A&E" tvg-logo="http://IPTVDOMAIN/guide/logos/AE.png" group-title="USA",US:

[2018-06-15 16:14] robflate opened #112 "Unable to tune channel, variables, & log location"
This refers to using Telly on Docker.

I setup telly in Docker, successfully added it to Plex and mapped the channels. Plex downloaded guide data but all the channels show "Unable to tune channel". This used to work and I'm not sure what changed. The .m3u and .ts works in VLC.

Some observations;

1. Should the environment variables have quotes around them? I've seen [some people](https://github.c

[2018-06-15 17:01] EnorMOZ commented on #95
Plex has either stopped supporting m3u8 or it is a bug in a recent version of plex.

[2018-06-15 17:09] hthighway commented on #108
Using vaders with the`&format=ts` option I can get telly 0.6.2 to start without the m3u8 warings.  Plex sees it as a tuner and Plex scans the channels fine, and then it will load my epg file.

But when all that is done I still get a `playback error`

I've tried this one two separate boxes, both running Ubuntu 16.04 and PMS 1.13.2.5154.
Once box uses docker and the other is just running on linux

[2018-06-15 17:43] nroTTron commented on #108
I am getting Playback error when I use my external XML now.

[2018-06-16 04:42] OmgImAlexis commented on #112
Duplicate: https://github.com/tombowditch/telly/issues/108

[2018-06-17 18:28] smromain commented on #111
So, I think this actually just an issue with the EPG data than telly itself.

The plex grid view takes the ID that comes through as a channel number, as you say, but since EPG data doesn't come through telly, I don't think there's anything that can be done now to fix that sort of thing?

[2018-06-17 18:34] smromain commented on #76
For this particular situation, I actually just use the internal `-useregex` flag: `-useregex="(group-title(.*)United States|group-title(.*)Sports|Premium Movies)"`

If this functionality is wanted, I'm happy to do a PR for something like, `-grouptitles` which does something similar underneath the hood as a simple convenience method? Been wanting to get involved with this project for a bit now ;)

[2018-06-18 10:13] Man-in-Black opened #113 "Channel can not be tuned (translated) - Windows/Trelly/FritzBox"
Hello all together,

first of all, I was trying to bring my broadcasted signals over a Fritzbox 6490 or a FritzRepeater DVB-C over tvheadend onto my plex installation with no luck.

After many researches I found trelly and was happy, that from this moment on I was able to get all Channels with EPG data. Example:
![image](https://user-images.githubusercontent.com/9048534/41530564-e4244faa-72f0-11e8

[2018-06-18 10:53] robflate commented on #112
Following advice from @OmgImAlexis, Telly is now working without any unable to tune channel errors. I added `command: -base=192.168.0.39:6077` to my docker-compose file. The IP is my host IP. My docker compose-file now looks like this;

[code]

[2018-06-18 10:54] #112 closed

[2018-06-18 11:02] tombowditch commented on #113
Similar to #108

Can you `wget` one of the URLs in your `.m3u` file, after a few seconds hit `Ctrl+C` and then run `mediainfo` on the file it downloaded?

[2018-06-18 11:04] tombowditch commented on #111
In Stylish I've added..

[code]

( Thanks to @OmgImAlexis )

[2018-06-18 11:05] tombowditch commented on #17
Deciding against this because you'd need to rescan Plex anyway. Someone feel free to put in a PR for it, though.

[2018-06-18 11:05] #17 closed

[2018-06-18 11:06] #93 closed

[2018-06-18 11:07] tombowditch opened #114 "telly needs a wiki"
Telly needs a Wiki. Telly needs a step-by-step guide for each platform and for Docker users.

[2018-06-18 11:07] tombowditch commented on #114
#24

[2018-06-18 11:08] #24 closed

[2018-06-18 11:10] #76 closed, assigned to nobody

[2018-06-18 11:12] tombowditch commented on #83
SSDP support is built and in from telly v0.6

[2018-06-18 11:12] #83 closed

[2018-06-18 11:13] tombowditch commented on #95
As @EnorMOZ said, Plex (from what I can see here) is no longer supporting `.m3u8` files.

Working on a solution involving ffmpeg/transcoding to `.ts` so Plex will stream it.

[2018-06-18 11:13] #95 closed

[2018-06-18 11:13] tombowditch opened #115 "telly transcoder"
With the recent issues it's obvious telly is going to need some sort of transcoding solution in the future.

I am thinking something to do with ffmpeg? Plex seems to like `.ts. / MPEG-TS.

[2018-06-18 11:14] tombowditch commented on #95
#115

[2018-06-18 15:29] OmgImAlexis opened #116 "EPG proxy"
This would allow rewriting of the EPG data as it comes through which would open up a lot of possibilities. For example..

- Channels could be remapped from their ID to another
- Channels or multiple sources could be merged into a single EPG
- Special user agents or headers can be added before requesting the EPG from the provider

[2018-06-18 15:42] Man-in-Black commented on #113
Thank you for the reference.
I opened this issue because I do not have a .ts ending in my stream files.

Can you give me hint how download a rtsp-stram with wget?
My m3u-File looks like this:
[code]

I hope this helps.

[2018-06-18 17:52] nroTTron commented on #111
@tombowditch - What file/path is this entry made or modified?

[2018-06-19 12:57] Codehhh commented on #111
@nroTTron Stylish is this: [Stylish @ Chrome Web Store](https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en)

[2018-06-19 12:59] tombowditch commented on #111
I've applied it for whole of app.plex.tv

[2018-06-19 16:00] SdlasHeras commented on #108
Hi @tombowditch
Video working on Windows 10 Pro, telly v0.6 and Plex 1.13.2.5154

[2018-06-19 17:47] Man-in-Black commented on #108
How did you get this to work?
My m3u-File does not end in `.ts`

[2018-06-19 21:21] bhaap opened #118 "Transcoder failure after 10-20 sec"
After 10-20sec in a live-tv stream the stream always closes and throws an error.
I've been looking at the plex media server log and the only thing that stands out is this:

[code]
basiclly that swedish text says:
A request to send or receive data was disallowed because the socket had already been shut down in that direction with a previous shutdown call.

And that is a Windows Sockets error:
WSAES

[2018-06-20 05:00] Man-in-Black commented on #113
I got some new information, which I found in the `Plex Media Server.log` File:

[code]

I hope it is not to much, but this is the part when I try to stream a tv show over telly.

[2018-06-20 11:52] mikerohan opened #119 "Plex shows "Device not found" even when connected"
Hi,

PLEX configuration is showing this message:

But the connection is OK. I'm even recording a channel...

[2018-06-20 12:02] hairychris commented on #119
What version are you running? Check the release notes for 0.6 it mentions this https://github.com/tombowditch/telly/releases/tag/v0.6

[2018-06-20 12:19] HazCod commented on #119
Try restarting Plex.

[2018-06-20 12:44] mikerohan commented on #119
Great! Restarting Plex did the trick

[2018-06-20 12:57] Joost1991 commented on #108
Using .ts m3u file and I also got a Playback error.

Using Plex 1.13.2.5154 on Ubuntu 16.04 and telly 0.6.2.

[2018-06-21 09:14] redxon commented on #118
Same problem here, using Unraid as a server and with all the clients it does that. Strange behaviour.

[2018-06-21 12:04] MikelillOi opened #120 "Error opening URL playlist on Windows 10 x64"
Hi. If I execute this command, everything works fine. With the .m3u downloaded

telly-windows-amd64.exe -playlist=tv_channels_nanox5_plus.m3u -useregex "ES:"

But if I change for the URL I have always the error below.
telly-windows-amd64.exe -playlist=http://xxxxx.com/tv_channels_nanox5_plus.m3u -useregex "ES:"
[telly] [error] Could not create file: C:\Users\MIKELI~1\AppData\Local\Temp ; open C:\U

[2018-06-21 16:51] mediaman88 commented on #120
Same here, there was another thread on it that said solved but I don't see the solution, maybe I'm just dense.  I tried creating a blank .m3u file in the temp directory with the right header and in the right UT8 format but then it say it gets a file it wasn't expecting, or can't read it.

I am using Vader Streams and ended up just downloading the file as an M3U, which works, but is not an optimal

[2018-06-21 19:52] myusuf3 commented on #83
does this mean it works with channels now?

[2018-06-21 21:52] mediaman88 opened #121 "Changing deviceid on Windows"
I am attempting to change the deviceid on Windows telly without luck.  I've tried every iteration of -deviceid 87654321, -deviceid "87654321", -deviceid=87654321.

I need this for Plex to recognize a second instance of Telly to use a separate tuner.  Changing only the friendlyname did not work, still shows as a single tuner to Plex.

[2018-06-22 02:35] mediaman88 commented on #108
Everything was working great for the last two days, now all of a sudden I can't play anything.  Both PMS and Telly running on Windows 10.  I am using the .ts version of Vaders m3u.

All channels work fine using the plug-in method through plex, but nothing will play from the DVR Guide.

[2018-06-22 06:14] HazCod commented on #120
Try manually specifying the temp path, e.g. `-temp=C:/m3u`

[2018-06-22 11:50] mediaman88 commented on #120
Thanks HazCod, someone mentioned that in a previous thread.  Tried it and got a new error.

[telly] [error] unable to read m3u file, error below
panic: Invalid m3u file format. Expected #EXTM3U file header

To clarify should the file already exist where I point it?  if so should it be a blank m3u file with the proper header, or should it be the m3u file I downloaded from the provider?  I've tried

[2018-06-22 13:57] HazCod commented on #120
`-temp` shouldn't be necessary if you specify the file location of the playlist instead of the URL.

[2018-06-22 19:57] mediaman88 commented on #120
Thanks HazCod, didn't know if there was a benefit of having the URL vs the actual file.

[2018-06-22 21:19] HazCod commented on #120
So does it work now? If telly complains about the format, see whether the playlist downloaded is correct.

[2018-06-23 08:52] mediaman88 commented on #120
Yes, sorry for not responding.  All seems well right now.  Thank you

[2018-06-24 09:46] radge commented on #83
No, Channels still doesn’t recognise telly for me.

[2018-06-24 13:43] #120 closed

[2018-06-24 22:13] ddamien53 opened #122 "Hi"
Hello, Know how to install plugins to use with Plex, explain with simple words will be appreciated. Thank you

[2018-06-25 06:05] HazCod commented on #122
Please take this to the Discord channel or Plex forums.

[2018-06-25 06:05] #122 closed

[2018-06-26 09:38] mikerohan commented on #118
Same problem... I was not even trasncoding...
I was recording a .ts stream that otherwise works ok when opened with VLC...

[2018-06-27 12:03] soosthui commented on #108
Running Telly on Windows 10 NUC pc, Running Plex Server on QNAP servers.

I get playback errors when using Telly 6.2 or 6.0 but if I use version 5.0 or 4.5 all my channels play perfectly fine in Plex.

What is different from Telly 5.0 to 6.2?

[2018-06-28 08:34] willbeeching commented on #108
I'm also getting 'Unable to tune channel' using the latest Telly version and latest PMS. All the streams contained within my m3u file are .ts, when I click on the channel and see Telly redirecting to the stream in terminal I can copy and paste that into VLC and it starts fine, so the right stream is definitely getting parsed.

Has anyone found a solution to this?

[2018-06-28 09:38] Man-in-Black commented on #108
Same issue here.
If I copy the redirected URL directly into VLC it works like a charm.
With PMS I cannot stream anything. This issue occurs with telly 5.0 and 6.2.

[2018-06-28 09:57] porkie02 commented on #108
There is a few things you need you need to checklist.

- Do the stream links end in .ts? Here is a example of my links that are working http://live.eternaltv.net:25461/live/xxxxx/xxxxxx/22419.ts

-  Have you set the base url command? Do not use localhost or 0.0.0.0, -base=192.168.x.x:6077

- Have tried the listen command? Again do not use localhost or 0.0.0.0, -listen=192.168.x.x:6077

For me usin

[2018-06-28 12:59] giopas opened #123 "Can't select tuner type on Plex"
I am trying to link my Vu+ (with Black Hole installed) channels on Plex via Telly.

I easily extracted the related .mp3u8 playlist from OpenWebIf (the webinterface of enigma2 os) and given to Telly.

Plex immediately finds the new tuner ("Silicondust HDHomerun (telly)") and immediately shows all channels.

However I only have the option to select the Country but not the Connection type as I can on

[2018-06-28 13:39] hthighway commented on #123
As telly emulates an HDHR device, plex automatically gives you just cable as a choice.  Just click continue and on the next screen provide it with you xmltv link/file

[2018-06-28 14:06] giopas commented on #123
Ok, thanks.

Now the problem is to make EPG collection working as - despite the fact the bouquet is liste here [1] - Plex does not recognize it...

[1] https://www.plex.tv/live-tv-dvr/

[2018-06-28 15:07] #123 closed

[2018-06-29 02:30] Supermanprimeonemillion opened #124 "command error when pointing to a url"
I am attempting to point Telly to a URL. But the url contains the word "password" which telly recognizes as a unknown command and thus fails to get the m3u.

[2018-06-29 05:14] HazCod commented on #124
Try surrounding the URL with quotes.

[2018-06-29 16:38] Supermanprimeonemillion commented on #124
I don't know whether that worked or not. It no longer gives me the error but fails to create the file instead.

[2018-06-30 02:36] Foebik commented on #124
Yeah Im having the same issue. I thought about doing the quotes too and also getting the same error.

[code]

[2018-06-30 16:10] Foebik commented on #124
I tried using tiny URL so I didnt have to user quotes, and get the same error. It doesn't seem to like http or https requests.

Upon thinking about this, it must be looking for a downloaded m3u file, just not in the right place or in the right way... or it just never actually downloaded it (I can't manually find it).

[2018-06-30 19:12] chazlarson commented on #124
The -temp param should be the complete path to the target m3u file.  If it's not specified, an autogenerated location will be used.

There's no problem with including "password" in the URL in my experience.  For example:

assuming:
```export vaders_live_url="http://api.vaders.tv/vget?username=REDACTED&password=REDACTED&format=ts"```

-temp is just a directory:

[code]

-temp is a path to an *m3u f

[2018-06-30 22:59] BDS369 commented on #108
can you please explain how? FYI, I am using xtreme-editor to edit the playlist.
So it might have to be done on there- but I can't figure out how

[2018-06-30 23:04] porkie02 commented on #108
just change the output of the link from Vader, Vader are very good at you being able to use different links but that can cause a lot of confusion also. I use XE to and I just use the api link they provide through minihosts which is http://api.vaders.tv/vget?username=xxxx&password=xxxxx&format=ts

[2018-07-01 00:51] BDS369 commented on #108
thank you very much! working now

[2018-07-01 10:47] MichealX64 opened #125 "Multiple instances?"
Hey guys, just set up your telly proxy this morning and it is working beautifully! Super easy to set up, it's exactly what I was looking for!

One question though, is it possible to have multiple instances of Telly on the same host?

From what I can gather, when Plex asks you to match the streams with the channel guide, if you use "Sky HD" as you suggested, any UK Free-to-Air channels are excluded

[2018-07-01 10:55] MichealX64 commented on #108
I was also receiving this error message and setting the -base= parameter fixed it for me!

Thank you @porkie02

[2018-07-01 12:29] MichealX64 commented on #125
Looks like multiple instances run no problem, as long as the port number is different obviously.

But the next issue I am running into is the Device-ID.

Starting a second instance causes Plex to get confused and apply the Program Guide from the previous proxy.
For example: Sky HD is applied and I cannot change it.
It also forgets the first instance and automatically starts using the second one.

[2018-07-01 12:38] MichealX64 commented on #125
Wow I'm really answering all of my own questions here! Looking forward to a WiKi! Ha

Got it working, I was inserting the whole string similar to my previous comment.
Works after I just use `-deviceid 12345677`

I still have the issue where I cannot change the region, but I think that is a Plex issue.

Thanks again guys for your awesome work!

[2018-07-01 12:38] #125 closed

[2018-07-01 16:00] Foebik commented on #124
So I was able to manually download the file and use the -temp command to find it. And got it working that way. As far as I can tell, the app doesnt seem to want to download the m3u.

I've tried different temp directories, the main URL with quotes (which did get rid of the password error) and tinyURL, to no avail.

[2018-07-01 16:09] chazlarson commented on #124
I just ran a couple experiments under windows:

No temp specified [doesn't seem to work the same as linux]:
[code]

Full path specified:
[code]
There's now a vader.m3u in that directory.

This is Windows 10 and a copy of telly downloaded a few minutes ago.

What are you seeing in these cases?

[2018-07-01 20:36] Foebik commented on #124
Im not getting the following as in your example.

[code]
I've a few different combination for my commands. But this was the latest one.

`telly.exe -playlist="http://streams.ultrabox.site:7000/get.php?username=USERNAME&password=PASSWORD&type=m3u_plus&output=ts" -temp=c:\telly\`

Using Epicstream from Boss TV as my provider.

And this is it output...

[code]
Nothing after that last error, just goes

[2018-07-01 20:41] Foebik commented on #124
Nevermind, I figured it out. I was re-reading my own post. It occurred to me when it says it cannot create the file, what I thought it my really mean is it couldn't create the 'Folder' as it already existed. Once I told it to make a new folder that didn't exist, it worked. (aka C:\telly\M3U).

Now I just have to figure out how to regex the channels... Not a lot of examples out there that I have fo

[2018-07-01 22:04] chazlarson commented on #124
-temp hs to be the full path to the m3u file, including the name. It's not pointing to the directory where you want to put the m3u, it's pointing to the m3u file you want to save.

I imagine you now have a **file** at C:\telly\M3U which contains m3u data, not a **folder** called "M3U" with an m3u file inside it.

for me, this:
[code]

results in a file called "NOSUCHFILE.m3u" containing the m3u da

[2018-07-02 06:07] #124 closed

[2018-07-02 11:21] ArtursGailis1995 commented on #108
My IPTV is only available in M3U or M3U8 format which then contains chunks of TS files.

This is the format I receive it:

Any chance it will be fixed soon? Just moved from Emby to Plex.

[2018-07-02 16:14] sneakypete73 opened #126 "Which version will work on WD PR4100"
Can you please tell me which version of telly will work on my WD PR4100, and can you please give me some simple instructions? Thanks

[2018-07-02 17:59] BDS369 commented on #111
@tombowditch would you mind posting a link to your stylish skin?
Would love to try it

[2018-07-03 08:26] giopas opened #127 "[Help] Retrieve remote m3u file possible error"
Hi folks,

I am trying to use Telly to pass along a m3u8 stream file to Plex (around 180 channels).

The format is the following:

`telly -playlist=http://domain.com/get.php?username=xxxxxxx&password=xxxxxxx&type=m3u_plus&output=ts`

The file works well (tested on Android and iOS), however on Plex I receive the following message in the screen after having selected Telly: "12:00 awaiting channel sc

[2018-07-03 09:24] HazCod commented on #127
`[telly] [info] found 0 channels`

Can you check the contents of /tmp/telly.m3u ?

[2018-07-03 10:09] giopas commented on #127
Hi HazCod,

the file is indeed empty:

[code]

FYI: If I try to directly click on the URL, I can download the m3u file, but with "wget [URL]" (no other option),  it does not download it.

By the way, if I lunch Telly with the (locally downloaded) m3u file, Plex sees all channels (then I should configure EPG but that's another story).

Is there by chance a problem in how the file is downloaded by T

[2018-07-03 12:48] HazCod commented on #127
Does `wget -L [URL]` work? Perhaps there is a redirect.
If a `wget` does not work, telly can't help it your playlist file is being returned empty.. :)

Perhaps they whitelisted the user agents? Try with `wget --user-agent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:21.0) Gecko/20100101 Firefox/21.0" [URL]`

[2018-07-03 13:17] sparkison commented on #127
I ran into the same problem before. From your example output of:
[code]
Notice the `&password=xxxxx` is missing. Try surrounding the `-playlist=` argument in quotes, this worked for me.

E.g. `-playlist="http://domain.com/get.php?username=xxxxxxx&password=xxxxx"`

[2018-07-03 13:21] Codehhh commented on #126
Looks like you're able to use Docker on that NAS.
https://hub.docker.com/r/tombowditch/telly/

[2018-07-03 13:50] #127 closed

[2018-07-03 15:03] tombowditch commented on #126
@sneakypete73 -

You need to find a way to daemonize `telly` on that NAS.

As @Codehhh said - Docker may work on the NAS. We build telly so you can pull it easily on Dockerhub @ `tombowditch/telly`, you should just be able to pull that.

T

[2018-07-04 00:27] Foebik opened #128 "Any good working examples and explaination"
I've been using useregex and was able to narrow down 4000+ channels to 125 with this.

`-useregex  .*US`

But it is missing a few channels that I wanted to add. How can I add additional arguments to the regex?

When I try different variations like below, I just end up with 0 channels.

[code]

Also when I use `.MSNBC.us` on it's own, it works. Just showing 1 channel. I just dont know how to merge

[2018-07-04 05:50] HazCod commented on #128
Try `-useregex US|MSNBC`

[2018-07-04 10:16] sneakypete73 commented on #126
Following those instructions.

I entered:

./telly –playlist=/http://tv.hdtv4u.cc:2052/get.php?username=gordon73@gmail.com\&password=gaPQJpcKqq\&type=m3u_plus\&output=ts -uktv

And got:

Unable to read m3u file

Unable to open playlist file

From: Tom Bowditch <notifications@github.com>
Sent: 03 July 2018 16:03
To: tombowditch/telly <telly@noreply.github.com>
Cc: sneakypete73 <gordon73@gmail.com>;

[2018-07-04 10:45] tombowditch commented on #126
@sneakypete73

Firstly, **PLEASE CHANGE YOUR PASSWORD TO YOUR IPTV ACCOUNT** - you've just gave a few hundred people your username and password.

Secondly, that command is failing because you have a / just before `http`

Change ` –playlist=/http://` to ` –playlist=http://`

T

[2018-07-04 10:54] sneakypete73 commented on #126
Ooops.

Now. I do indeed have docker – although I have never used it.

What is the first step?

Is it docker run, docker compose, or setup as the first step – and are all commands entered in Putty?

Thanks Tom

From: Tom Bowditch <notifications@github.com>
Sent: 04 July 2018 11:45
To: tombowditch/telly <telly@noreply.github.com>
Cc: sneakypete73 <gordon73@gmail.com>; Mention <mention@noreply.githu

[2018-07-04 11:10] tombowditch commented on #126
Take a look at the readme. Run something like -

[code]

[2018-07-04 11:46] sneakypete73 commented on #126
I am referring to https://hub.docker.com/r/tombowditch/telly/

Don’t see a Readme.

Do I have to enter both the docker run and docker compose text? And in what order? Any is this entered through Putty?

From: Tom Bowditch <notifications@github.com>
Sent: 04 July 2018 12:10
To: tombowditch/telly <telly@noreply.github.com>
Cc: sneakypete73 <gordon73@gmail.com>; Mention <mention@noreply.github.com>
S

[2018-07-04 16:04] Foebik commented on #128
When I try your suggestion, I get this error.

[code]

[2018-07-04 16:05] Foebik commented on #128
When I tried your suggestion I get the following error.

[code]

[2018-07-04 16:27] #128 closed, assigned to nobody

[2018-07-05 12:31] Codehhh commented on #126
@sneakypete73 To use docker on your NAS: https://community.wd.com/t/docker-and-apps/170177/2
You should only run the `docker run` command.

[2018-07-05 14:38] smromain commented on #111
It seems like Plex's latest updates (1.13.3.5223) have actually fixed this natively. This isn't a documented fix in their release notes but I've tried it in a few different browsers and seems to be the case all around.

![screen shot 2018-07-05 at 9 36 57 am](https://user-images.githubusercontent.com/3893316/42329718-01d8b830-8037-11e8-9928-79a2f6a5d5e0.png)

[2018-07-05 15:06] HazCod commented on #111
Yay!

[2018-07-05 15:06] #111 closed

[2018-07-10 07:29] HazCod commented on #115
There are go bindings available for ffmpeg: https://github.com/giorgisio/goav
Funny enough, while Plex likes MPEG-TS, they use HLS to stream from the server to the client.

[2018-07-10 22:57] Leolamlao opened #129 "Need help installing telly on raspbian"
I've heard that telly can be used as an iptv plugin for raspbian. I already have plex media server set up and was wondering if you could help me install telly on raspbian. I was looking at the download link and couldn't seem to find the download link for raspbian Linux version.

[2018-07-11 13:53] Leolamlao commented on #129
How did you set yours up?

[2018-07-11 14:25] HazCod commented on #129
Isn't this what you want? https://github.com/tombowditch/telly/releases/download/v0.6.2/telly-linux-arm64

[2018-07-11 17:04] Leolamlao commented on #129
Do you have the instructions to install it if I'm not using docker?

[2018-07-11 20:29] HazCod commented on #129
Just download it to your system, make it exectuble and execute it like any other linux command.
e.g.

[code]

[2018-07-12 05:41] #129 closed

[2018-07-13 03:53] b101marc opened #130 "Plex crashes when trying to load from localhost"
Same as the subject line. Telly is up and running correctly however when searching for channel guide it either freezes or doesn't load anything. Running an m3u file from PlayersKlub. No xml file available unless I'm not looking in the right spot.

[2018-07-13 04:38] HazCod commented on #130
Please share the log

[2018-07-13 18:00] live4ever commented on #108
I got around this by adding the base var to the docker container as well (m3u file with .ts):

![base](https://user-images.githubusercontent.com/619870/42706490-fa5c1722-86a4-11e8-95bd-0a04359b32ce.PNG)

[2018-07-13 22:58] b101marc commented on #130
I've found the issue. Known issue #108

[2018-07-14 08:36] #130 closed

[2018-07-14 21:33] Burnsoft opened #131 "No streams showing, all work in VLC fine"
I suspect this isn't a telly issue but I don't know where to ask.
I have .ts streams in m3u that are recognised by telly and plex live. egg guide works fine.
when I watch them in vlc all is fine but nothing shows up in plex. just spinning icon.

Am I missing something obvious in the plex setup?
I tried the -direct setting but that didn't do anything.

on my ubuntu server the telly logs show:

[tel

[2018-07-15 02:42] b101marc commented on #108
Having an issue with crashing. I'm using PlayersKlub using the .ts output with no success. Any other suggestions? Relative newcomer.

[2018-07-15 09:12] Burnsoft commented on #131
after much tinkering, my Web > Quality > Streaming  > Video Quality was set to 2mb/s :-)
I amended to unlimited and the streams work now!
hope this helps someone else.

cheers

[2018-07-15 09:12] #131 closed

[2018-07-16 16:44] ConorWinders commented on #113
I can confirm that v0.5 is working fine for me with .ts streams. However, v0.62 is not. Have downgraded to 0.5 for now. If I can help provide additional info please let me know

[2018-07-17 04:20] frznman commented on #115
Is converting really necessary? My m3u8s have .ts in them. Wouldn't Plex be able to read those?

[2018-07-23 13:45] Leolamlao commented on #129
Hey HazCod, I ran your command then ran sudo apt-get install telly but it did not seem to work. I am pretty new to Linux,  so sorry for all the stupid questions I asked.

[2018-07-23 18:00] chazlarson commented on #129
There's no "install" for telly in the ```apt-get install``` sense
[code]
That downloaded the built telly binary into a local file called "telly"

[code]
That set the downloaded file to be executable.

[code]
That executes the thing to show that it worked.

You can run it from there, or you can move/copy it to somewhere in your $PATH and then you'll be able to type "telly" anywhere just like today

[2018-07-23 18:20] Leolamlao commented on #129
./telly -playlist=http://........m3u_plus should also work, correct?

[2018-07-23 18:22] chazlarson commented on #129
I'm not sure what you're asking.

If you type that in the directory where you ran the commands up above, that will start telly, yes.  If you type that in any other directory it won't.

That's part of a correct telly invocation, yes, but there are other flags you should set to actually work with telly.  That stuff is outside the scope of this case, though.

[2018-07-23 18:29] Leolamlao commented on #129
OK I figured it out. So ya it does work with url. Thank you

[2018-07-24 22:07] mattejm31 opened #132 "Installation on win 7"
Hi. I'm new to this but then again even more grateful for help.

I'm having trouble installing v0.6.2 on my amd 64
The installation just never start and I can't run Telly.

Any ideas on what I'm doing wrong? Fumbling in the dark here at the moment...

thanks

[2018-07-24 22:18] chazlarson commented on #132
What are you calling "the installation"?  All you should have to do is download the executable file and run it directly.

So you'd download one of these:
telly-windows-386.exe
telly-windows-amd64.exe

Then put it wherever you want, open a cmd window, cd to wherever you put it, and run it.

If you're downloading that file then double-clicking it expecting it to install something, it would just open

[2018-07-25 15:57] mattejm31 commented on #132
Thanks!

[2018-07-25 15:57] #132 closed

[2018-07-25 23:47] jurgy15 opened #133 "Installed Telly via QNAPclubstore .qpgk but wont run"
Pretty new at this IPTV and QNAP CLI stuff but heres what i did and or dorked up.  I downloaded and installed telly from the qnap clubstore.  The NAS says that Telly has been installed and is up and running.  I try to add the m3u and all it ever says is done.  When i go to plex to see if is show up there is no tuner.  I have unistalled/reinstalled multiple times.  just trying to start telly with t

[2018-07-29 17:17] bodgeuppm opened #134 "EPG matching??"
Does Telly provide plex with EPG channel IDs? Ive got my xml file in telly 620 channels, but most map in the EPG wrong so its a nightmare to match them.  My IPTV provider has lots of duplicate channels which allow us to find working channels if there is a problem.  But i managed to got 21000 down to 620 for UK channels but still 620 to manually ID for the EPG is just not ideal.  Is there anyway to

[2018-07-30 15:24] Leolamlao commented on #129
Is there a way to filter the channel to just us and CA only? - uktv works for UK only but I only want US and CA.

[2018-07-30 15:59] Leolamlao commented on #129
Thanks, that works.

[2018-07-31 21:25] bodgeuppm commented on #134
many thanks ill try that site for the epg see if it will help,
Great program though you answered my wish when you developed it.
look forward to more features.
I would like to see proxying of the iptv so that the provider doesn't know multiple connections from different ips are used, PlexIPTV has this but its not compiled so ive not been able to get it working on linux but if that could be integrat

[2018-08-02 19:50] causefx commented on #108
Heads up, if guide xml has a space in the channel ID, you will get the tune error.

[2018-08-03 07:37] gitAuss1e commented on #115
Any update on this? Thanks!

[2018-08-03 14:27] 91ajames commented on #108
where do you put this "sed -i 's/.m3u8/.ts/g' your.m3u"
does it work or is there no solutions to this yet?

[2018-08-09 17:07] 12nick12 commented on #134
I can't wait till this is implemented that way I quit using PlexIPTV.

[2018-08-09 17:08] 12nick12 opened #136 "Restream"
I'm not sure if plex does this automatically, but if it doesn't is there any way to implement it. That way if I'm watching the same channel twice it only uses one stream.

[2018-08-09 17:10] porkie02 commented on #136
Plex does this already, you can have 10 people watch the same channel but it will only count as one stream to the iptv provider so I have been told.

[2018-08-09 17:16] 12nick12 commented on #136
Well that's pretty awesome. Thanks for the info.

[2018-08-09 17:16] #136 closed

[2018-08-09 22:58] HazCod commented on #136
This is done by Plex btw, nothing to do with telly.
We just pass along the URLs.

[2018-08-09 23:00] jaylex32 commented on #136
HazCod any new updates coming soon? Thanks

[2018-08-10 03:59] robbiet480 commented on #108
I [found a script on StackOverflow](https://stackoverflow.com/a/48807847/486182) which filters out arguments passed into a script. I moved `/usr/lib/plexmediaserver/Plex Transcode` to `/usr/lib/plexmediaserver/old-PT` and then put the script at `/usr/lib/plexmediaserver/Plex Transcode` (taking care to match permissions. Now i've got a working telly 😎!

Here's my slightly modified version of the li

[2018-08-10 04:47] simonk83 commented on #108
Just chiming in here that I'm trying to work through this as well.  I'm using the following link for Australian Freeview channels, which unfortunately are all m3u8 (I haven't found any other working options as yet) - https://raw.githubusercontent.com/matthuisman/iptv/a3dd5861a72dafc46545bead266e37f777212eaf/au/Melbourne/raw-tv.m3u8

Getting the tune error, which is to be expected I suppose :)    O

[2018-08-10 08:50] HazCod commented on #136
Better to ask on Discord, but last time I checked @tombowditch wanted to do a major overhaul.

[2018-08-11 09:17] robbiet480 commented on #65
Implemented in v1.0.0!

[2018-08-11 09:17] #65 closed

[2018-08-11 23:05] D34DC3N73R opened #141 "unknown short flag '-b'"
I see the environment variables have been updated for the telly docker-compose template. I'm now getting the following error when trying to run telly.
`app: error: unknown short flag '-b', try --help`
The command is `-base=telly:6077` but it's not picking up the rest of the string, even when using quotes. when I use -filterregex, preceding `-base` I get the error `app: error: unknown short flag '-

[2018-08-11 23:48] D34DC3N73R commented on #141
removing the command section entirely allows telly to run, but regex is not filtering.

[2018-08-12 19:39] niXta1 commented on #134
Isn't the stream going through telly and therefore the provider only sees that IP no matter of the client?

[2018-08-12 19:40] 12nick12 commented on #134
Correct.

[2018-08-12 19:52] D34DC3N73R commented on #141
This is the regex I'm trying to use `TELLY_FILTER_REGEX=.*US:.*\n.*|.*CA:.*\n.*`

Here is part of the m3u8 contents:
` #EXTINF:-1 tvg-id="" tvg-name="EFL: Swansea City v Preston North End 3pm (Live During Events Only)" tvg-logo="http://necro.to/images/channels/Efl.png" group-title="EPL | EFL",EFL: Swansea City v Preston North End 3pm (Live During Events Only)
http://necro.to:80/live/XXXXXXXXXXXXXX

[2018-08-12 19:53] RhvsW commented on #141
Make sure you're testing with the golang flavor.

[2018-08-12 19:57] D34DC3N73R commented on #141
Yes I am testing with the golang flavor. I get the same result when removing the new line option as well. `TELLY_FILTER_REGEX=.*US:.*|.*CA:.*`

[2018-08-12 20:55] HazCod commented on #141
and `TELLY_FILTER_REGEX='(US|CA)'`

[2018-08-12 21:16] D34DC3N73R commented on #141
`TELLY_FILTER_REGEX='(US|CA)'` also returns all 1423 entries.

[2018-08-12 22:46] D34DC3N73R commented on #141
I would expect the default value of `TELLY_FILTER_REGEX_MODE` to be true, but it appears to be false.

After setting `TELLY_FILTER_REGEX_MODE=true` regex filters as expected. `TELLY_FILTER_REGEX='(US|CA)'`

[2018-08-14 13:32] sneakypete73 commented on #126
Tom I keep getting this error - can you please offer any assistance:

Unable to find image 'tombowditch/telly:latest' locally
latest: Pulling from tombowditch/telly
6763caf1f9ee: Pull complete
4417fed44ce9: Pull complete
Digest: sha256:dc661e56656217642db91f0a4c6ad53e048b41a4173057d7b20bef0bbe8fe570
Status: Downloaded newer image for tombowditch/telly:latest
docker: Error response from daemon: Con

[2018-08-14 13:52] Codehhh commented on #126
@sneakypete73 You already have a docker named `telly`. You have to either remove (or rename) the container.
`docker stop telly && docker rm telly` will stop the current `telly` instance and remove it. Then you can proceed with pulling the new container.

[2018-08-14 14:09] sneakypete73 commented on #126
Thanks. I since stopped telly and purged all containers.

I enter:

docker run -d \

  --name='telly' \

  --net='bridge' \

  -e TZ="Europe/Amsterdam" \

  -e 'TELLY_IPTV_PLAYLIST'='/home/github/myiptv.m3u' \

  -e TELLY_IPTV_STREAMS=1 \

  -e TELLY_FILTER_REGEX='.*UK.*' \

  -p '6077:6077/tcp' \

  -v '/tmp/telly':'/tmp':'rw' \

  tombowditch/telly --listen.base-address=localhost:6077

where /ho

[2018-08-14 14:32] slawekm commented on #126
@sneakypete73 Try this:
``
docker run --rm --detach \
--name=telly \
--net=host \
-e TZ="Europe/Amsterdam" \
-e 'TELLY_IPTV_PLAYLIST'='/home/github/myiptv.m3u' \
-e TELLY_IPTV_STREAMS=1 \
-e TELLY_FILTER_REGEX='.*UK.*' \
tombowditch/telly --listen.base-address=0.0.0.0:6077
``

[2018-08-14 14:44] sneakypete73 commented on #126
Thanks but no good:

docker: invalid reference format.

If anyone can offer a simply step-by-step guide for Putty I’d be eternally grateful. I’m using a http address for the m3u

Assume I know nothing…. sorry

From: slawekm <notifications@github.com>
Sent: 14 August 2018 15:32
To: tombowditch/telly <telly@noreply.github.com>
Cc: sneakypete73 <gordon73@gmail.com>; Mention <mention@noreply.github.co

[2018-08-14 15:00] slawekm commented on #126
@sneakypete73 my bad, didn't test it locally..

 How about this one?

[code]
(I've dropped `TELLY_IPTV_STREAMS` which seems to be redundant as it's set to default value).

You need to provide real playlist file in that location too (or mount via `-v` switch from host).

I've also noticed that you can't specify `0.0.0.0:6077` address - which should be desirable when you want to expose service outsi

[2018-08-15 20:06] HurricaneChris opened #144 "Telly Sometimes Creating URLs that produce 404 error."
I noticed that some channels in Plex where giving me a "Playback Error: Unable to tune channel " error.  I found that when I go to http://IP_ADDRESS:PORT/lineup.json and picked the URL for the channel (http://IP_ADDRESS:PORT/stream/RANDON_TEXT) and tried to play this in VLC or enter it into a browser I got a 404 page not found error. Also with Debugging on, there was no "Parsing URI" event in the

[2018-08-15 20:07] robbiet480 commented on #144
Does your `/stream` URL contain any `/` characters in it? If so, that's why. Fix coming in 1.1.0, hopefully next 48 hours.

[2018-08-15 20:12] HurricaneChris commented on #144
Yup, that's exactly it. Thanks for the quick response.

[2018-08-16 13:37] Codehhh commented on #126
@sneakypete73 To see the docker logs after starting the container, run `docker logs telly`

[2018-08-16 14:56] AndreAga opened #145 "Set a WebProxy"
Hi guys,
I didn't read any info about the chance to add a web proxy as a configuration in order to let Telly to connect to remote channels through it.

Any idea if is it possible? It would be perfect.

Thanks.

[2018-08-16 19:05] sneakypete73 commented on #126
Thanks

How do I remove filtering?

From: Codehhh <notifications@github.com>
Sent: 16 August 2018 14:38
To: tombowditch/telly <telly@noreply.github.com>
Cc: sneakypete73 <gordon73@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [tombowditch/telly] Which version will work on WD PR4100 (#126)

@sneakypete73 <https://github.com/sneakypete73>  To see the docker logs after starting the co

[2018-08-17 16:17] danielcbaldwin commented on #144
I am experiencing this as well but it seems to be every time not only some of the time for me.

[2018-08-17 16:32] tombowditch commented on #144
Hi folks! We're aware - working on it!

[2018-08-17 16:56] chazlarson commented on #126
@sneakypete73 If you remove `TELLY_FILTER_REGEX` you'll want to add `TELLY_REGEX_INCLUSIVE`.  The default regex behavior is now "blacklist" so running with no regex means "exclude everything".  Adding the inclusive flag flips that to "include everything".

[2018-08-18 00:58] fabakhti opened #147 "Getting 0 channels out of a simple M3U file"
I can't seem to get telly to read channels out of my M3U file. I've got it down to the simple one below and still fails to find channels. No error messages and nothing in debug logging. Before I start debugging I thought I would ask in case I'm missing something obvious.

[2018-08-18 01:02] chazlarson commented on #147
You most likely need to add the `--filter.regex-inclusive` flag.  The default regex behavior now is to exclude everything.

Some examples:

I'm starting with an Iris M3U.  It contains around 8000 channels:
[code]
I've downloaded the m3u to iptv.m3u.
Let's start telly with no parameters:
[code]

no channels found, because the default behavior is "exclude everything"

Flip the default:
[code]

[4:07

[2018-08-18 01:12] fabakhti commented on #147
That was it! Thanks for the help.

[2018-08-18 06:56] fabakhti commented on #134
@chazlarson iptv-epg.com is a good service but how would I use the EPG with telly and Plex? I can only pass telly the m3u and can't see where the EPG from that service can get used.

[2018-08-18 11:16] sneakypete73 commented on #126
My problem seems to be the categories. If I filer with *UK.* or *UK* I don’t get UK channel – everything but UK. If I filter with *UK Entertainment.* I get UK channels but I 4880 channels. I can’t seem to narrow it down to just the 100 or so UK channels I want.

From: Chaz Larson <notifications@github.com>
Sent: 17 August 2018 17:57
To: tellytv/telly <telly@noreply.github.com>
Cc: sneakypete73 <go

[2018-08-18 13:43] chazlarson commented on #126
The regex behavior defaults to working as a blacklist.

This:
[code]
Is stripping channels that match the regex.

This:
[code]
will flip that and strip everything EXCEPT those that match the regex.

[2018-08-18 13:45] chazlarson commented on #134
When you configure the DVR in Plex, there's a screen that asks for a post code.  At the top of that dialog is an orange link.  Click it and you can paste in the EPG URL from iptv-epg.com.

[2018-08-18 14:49] sneakypete73 commented on #126
It works at last – thanks all for your help

From: Chaz Larson <notifications@github.com>
Sent: 18 August 2018 14:44
To: tellytv/telly <telly@noreply.github.com>
Cc: sneakypete73 <gordon73@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [tellytv/telly] Which version will work on WD PR4100 (#126)

The regex behavior defaults to working as a blacklist.

This:

docker run --detach --rm

[2018-08-19 00:42] jondmac opened #148 "When streaming one channel to plex and changing channel plex just returns to program info screen"
When streaming one channel to plex and changing channel plex just returns to program info screen instead of playing the new stream.

[2018-08-19 13:57] HazCod commented on #148
Can you please provide us with the telly logs?

[2018-08-20 01:41] porkie02 opened #149 "Schedules direct error, Docker and Windows."
People are getting error this error when not even using SD in the config file.
`error setting up schedules direct client      error="status code was 403, expected 2XX-3XX"`

[2018-08-20 15:48] chazlarson opened #150 "Two broken Darwin releases on releases page."
There are two 1.1.0.1 releases at the top of the list that don't seem to work at all.

[2018-08-20 18:27] robbiet480 commented on #150
Removed, thanks for the heads up

[2018-08-20 18:27] #150 closed

[2018-08-20 18:32] robbiet480 commented on #149
Fixed by https://github.com/tellytv/telly/commit/309792d7b5976a9689d2386c43961ead77cc11ec

[2018-08-20 18:32] #149 closed

[2018-08-20 19:17] #147 closed

[2018-08-20 22:44] ikolsteren opened #152 "Unable to start - error setting up schedules direct client [31merror[0m="status code was 403, expected 2XX-3XX""
Getting a
 error setting up schedules direct client      [31merror[0m="status code was 403, expected 2XX-3XX"

running
telly.exe --iptv.playlist=c:\telly\vget.m3u

The playlist is from vaders run by
http://vapi.vaders.tv/epg/vget?username=XXXXX&password=XXXXXX&format=ts&type=m3u_plus

Please help

[2018-08-20 23:09] robbiet480 commented on #152
Please ensure you are on the very latest beta.

[2018-08-21 01:02] ikolsteren commented on #152
Looks like I was minutes before your latest push.  Working now.
Just setup and so far working great

[2018-08-21 02:39] #152 closed

[2018-08-21 15:30] julien-blanchon commented on #113
Same issues

[2018-08-21 16:22] julien-blanchon opened #154 ""Unable to tune channel" on Plex"
Hi,

I'm running the latest Plex version (+ Plex pass) on a Quickbox.io core (Dedicated server, Ubuntu 16.04.5 amd64). I set up Telly 1.1.0.1 (beta 2) properly (telly with chmod a+x in /bin/), and start it (telly --iptv.playlist=/home/exy/tv.m3u). Than, he start:
[code]

Plex reaches it, I do all the setup and finally, when starting a stream I got "Unable to tune channel".

Here an extract of my P

[2018-08-21 20:36] gwizdavid opened #157 "EPG only Pulls from OTA"
I've successfully added the tuner. When adding, it finds 67 channels.  It gives me a selection of "Cable" and "United States".  I hit continue and it lists the channels under "Local Over the Air Broadcast".   If I select a channel to add and click on the drop down under "Guide Channels", it only give me a list of local OTA channels and not a complete list of cable channels.  So let's say for ESPN,

[2018-08-22 00:47] Foebik commented on #154
I get the same issue, sometimes restarting Plex a bunch of times will get it to work.

[2018-08-22 00:48] chazlarson commented on #157
Yes, Plex only allows a single EPG source across all your tuners.  The first EPG source added wins.

[2018-08-22 01:33] chazlarson commented on #154
This is probably the source of the failure:

[code]

That request to telly would have resulted in a redirect to the provider stream, which apparently failed with a 401.

[2018-08-22 01:41] lobosrul commented on #115
On a related note , I'm using ffmpeg to record iptv with "-stimeout 10000000" set. Seems a much more reliable way to record, with Plex about a quarter of everything I record has an error. Would be worth piping the output of ffmpeg into Plex?

[2018-08-22 03:57] robbiet480 commented on #115
Fixed via https://github.com/tellytv/telly/commit/2130ad62bf17f6279a2201a7badaeecd60070fe9

[2018-08-22 03:57] #115 closed

[2018-08-22 03:58] robbiet480 commented on #154
Hopefully will be fixed via https://github.com/tellytv/telly/commit/2130ad62bf17f6279a2201a7badaeecd60070fe9

[2018-08-22 03:58] robbiet480 commented on #144
Fixed in beta, closing!

[2018-08-22 03:58] #144 closed

[2018-08-22 03:58] #141 closed

[2018-08-22 03:58] robbiet480 commented on #121
Should be fixed via the config file

[2018-08-22 03:58] #121 closed

[2018-08-22 03:59] robbiet480 commented on #108
Should be fixed by https://github.com/tellytv/telly/commit/2130ad62bf17f6279a2201a7badaeecd60070fe9, using ffmpeg to transcode streams to a Plex acceptable format

[2018-08-22 03:59] #108 closed

[2018-08-22 04:00] robbiet480 commented on #63
Fixed via dev branch!

[2018-08-22 04:00] #63 closed

[2018-08-22 04:00] #30 closed

[2018-08-22 04:00] robbiet480 commented on #110
Taken care of on dev branch!

[2018-08-22 04:00] #110 closed

[2018-08-22 07:38] simonk83 opened #158 "Some TV SHows are classed as Movies"
Pretty sure you're aware of this but couldn't see an issue for it.  If you need any more info let me know!

[2018-08-22 09:13] porkie02 opened #159 "Ffmpeg Beta Docker container"
The current Docker image does not install ffmpeg so container users can not use the new ffmpeg function. :)

[2018-08-22 12:31] noobey opened #160 "How to install on a Synology....... or a mac?"
Sorry for the inane question.
Would love to install this on my Synology DS3018xs or 916+.

If needed I have a mac laying around I could also use, but that would be a last restort.

Would still need help on the "how" though.

Appreciate any advice!

Thanks
:-)

[2018-08-22 12:33] guyspr commented on #160
A Synology has docker (I guess), you should run it in there.

[2018-08-22 12:35] noobey commented on #160
Happy to try it, but I have no idea which version I should be downloading as they all seem to have Intel processors?
https://www.synology.com/en-uk/knowledgebase/DSM/tutorial/General/What_kind_of_CPU_does_my_NAS_have

[2018-08-22 12:50] guyspr commented on #160
If you can, please join the discord channel. There's also a support channel: https://discord.gg/bnNC8qX
This way we can help you better, it looks like you're not completely up to speed on how this all works.

[2018-08-22 13:03] noobey commented on #160
Roger that, thanks. Will dig in now.

[2018-08-22 14:41] gwizdavid commented on #157
Thanks!  I removed my homerun tuner and added the telly one first.  I then added my homerun back and got both pulling in the correct epg data.
Appreciate it!

[2018-08-22 18:06] taylorbourne commented on #158
Will probably get this going quicker if you provide information about your provider and the EPG data they offer!

[2018-08-22 18:08] chazlarson opened #161 "Within docker container, telly shows blank version, branch, build information."
basic.sh:
[code]

[code]

[2018-08-22 19:10] gwizdavid opened #162 "What Filters to Use?"
How does --filter.regex="xxxx" work?  Is it filtering the channel name from the epg listing?  I'm not sure it does because my "sports" filter pulls in channel names without the word "sports".
My problem is filtering channels using "US" still produces too many entries for Plex.  And some filters don't add any channels.  For instance, I would like to add in some kid's channels but I'm not sure how t

[2018-08-22 22:18] zenjabba commented on #159
I'm trying to build in ffmpeg, but getting the following error

`fetch http://dl-cdn.alpinelinux.org/alpine/v3.8/main/x86_64/APKINDEX.tar.gz`
`fetch http://dl-cdn.alpinelinux.org/alpine/v3.8/community/x86_64/APKINDEX.tar.gz`
`ERROR: http://dl-cdn.alpinelinux.org/alpine/v3.8/community: network connection aborted`

I can confirm I can manually download the files via wget outside of docker build.

[2018-08-23 04:55] alturismo commented on #161
and the dockerhub is currently down, i guess thats why ...

[2018-08-23 06:43] HazCod opened #163 "Make M3U parsing more lenient"
Currently, telly fails to return channel listing whenever the EPG XMLTV contains a bad attribute.
In my case, this was `<date>Australijie</date>` for some foreign channel I did not use.
We should skip setting the EPG program property altogether, and not stop everything.

[2018-08-23 16:44] alturismo commented on #161
thanks for the info, may a question, how could i install the beta on unraid ? special tag or extra parameter ?

[2018-08-23 16:47] chazlarson commented on #161
Join the discord linked at the bottom of the readme.  There's a pinned message in one of the channels describing exactly that.

[2018-08-23 20:27] EnorMOZ commented on #159
New` dev-ffmpeg` image has been pushed.

[2018-08-23 20:27] #159 closed

[2018-08-24 22:40] julien-blanchon commented on #154
Yes, It's because my IP is blocked by the provider. Solved

[2018-08-24 22:41] #154 closed

[2018-08-24 22:47] D34DC3N73R commented on #162
It switched to a blacklist for some reason. So it's actually excluding everything with the word "sports" and returning the rest of your results. You need to add --regex.inclusive=true if you want it to work as a whitelist.

[2018-08-26 16:25] alturismo opened #167 "read EPG from TVHeadend guide.xml (file mode)"
as TVH doesnt export the category, episode, ... on their ip:port/xmltv it would be nice to get telly to read the guide.xml from tvh where all the infos are ... file mode ....xml

i guess its due the different **channel ids** (nr. vs names), samples

what telly **can read** (here from xmltv TVH Server)

[code]

what telly **cant read** (from the guide.xml file generated by webgrab and TVH imports)

[2018-08-26 17:16] akshai5050 opened #168 "Don't see the config file format on the README.md"
Don't see the config file format on the README.md

[2018-08-26 17:24] dwiamo commented on #168
if you download the source code zip file the readme.md has what you need. https://github.com/tellytv/telly/archive/v1.1.0-Beta3.zip

[2018-08-26 17:35] robbiet480 commented on #168
https://github.com/tellytv/telly/blob/dev/README.md

[2018-08-26 17:35] #168 closed

[2018-08-27 09:28] robbiet480 commented on #114
thanks @chazlarson !

[2018-08-27 09:28] #114 closed

[2018-08-27 11:43] #157 closed

[2018-08-27 11:47] guyspr commented on #162
Seems to be resolved, closing this issue.

[2018-08-27 11:47] #162 closed

[2018-08-27 11:48] guyspr commented on #160
@noobey I think you got it running now. Closing this.

[2018-08-27 11:48] #160 closed

[2018-08-27 11:49] guyspr commented on #148
@jondmac could you provide telly logs? Without any more information we cannot resolve this and will close this issue.

[2018-08-27 11:50] guyspr commented on #134
No response for over a week, looking at the conversation I think this has been resolved.

[2018-08-27 11:50] #134 closed

[2018-08-27 11:52] guyspr commented on #133
Sorry but we do not maintain this QNAP package, please contact the package maintainer.

[2018-08-27 11:52] #133 closed

[2018-08-27 11:56] guyspr commented on #118
@bhaap does this issue still persist on newer versions of Telly?

[2018-08-27 11:59] guyspr commented on #109
@nroTTron this issue seems to be resolved. If not, please re-open if any other issues.

[2018-08-27 11:59] #109 closed

[2018-08-27 20:06] ikolsteren opened #169 "Bind Address"
Trying to setup on a different box than my Plex server and using the config file.
It reads the config but not the address I am trying to bind.

From the config
[Log]
  Level = "info" # Only log messages at or above the given level. [debug, info, warn, error, fatal]
  Requests = true # Log HTTP requests made to telly [Web]
  Base-Address = "192.168.86.33:6077" # Set this to the IP address of the ma

[2018-08-27 20:08] #169 closed

[2018-08-28 12:45] #126 closed

[2018-08-28 12:48] guyspr commented on #145
Do you mean that the buffering will go through Telly, instead of Telly just redirecting Plex to the stream?

[2018-08-28 12:50] guyspr commented on #116
This is something already in the works!

[2018-08-28 15:30] compjd84 opened #171 "epg guide not passing through telly to plex for all channels"
loaded telly version 1.1.0 beta 3 and using vader loaded guide to match and have several channels not match opened a downloaded copy of epg and see some of the channels listed in epg but did not show up in plex
![greyed out](https://user-images.githubusercontent.com/42777723/44733535-ca9eb000-aab5-11e8-9de8-a91a3976a9d7.png)
![loaded](https://user-images.githubusercontent.com/42777723/44733536-ca9

[2018-08-28 15:47] TonyTheTechie opened #172 "No Channels being found in M3U file"
**telly release with the issue:**

**Last working telly release (if known):**

This is the first release I have installed

**Operating environment (Docker/Windows/Linux/QNAP, etc.):**

**Description of problem:**
telly appears to successfully run, but it is reporting 0 channels found in the m3u file.
See screen output below Command line used
On trying to setup live tv on Plex, it finds telly, but

[2018-08-28 15:52] D34DC3N73R commented on #172
Notice the note about channel filtering in README.md

[2018-08-28 15:56] chazlarson commented on #172
This walkthrough in the wiki may help.  There's a demo of this very situation.
https://github.com/tellytv/telly/wiki/Standalone-Walkthrough%3A-Linux

[2018-08-28 16:06] chazlarson commented on #171
Can you provide some specific examples from the EPG?  It'll be easier to figure out what's going on if a developer doesn't have to sift through and guess at what you're referring to.

[2018-08-28 16:09] chazlarson commented on #171
"using vader loaded guide"; Specifically what does this mean?  Are you entering the Vader EPG URL when Plex asks for the EPG?

If so, does anything different happen when you use telly's EPG link?

[2018-08-28 16:30] #172 closed